In [ ]:
{
 "cells": [
  {
   "cell_type": "markdown",
   "id": "9131085d",
   "metadata": {
    "toc": true
   },
   "source": [
    "<h1>Table of Contents<span class=\"tocSkip\"></span></h1>\n",
    "<div class=\"toc\"><ul class=\"toc-item\"></ul></div>"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 6,
   "id": "7fb8b4d2",
   "metadata": {},
   "outputs": [],
   "source": [
    "import pandas as pd\n",
    "import scipy.stats as st"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 2,
   "id": "5adc6f84",
   "metadata": {},
   "outputs": [],
   "source": [
    "df = pd.read_csv('ab_stats.csv')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 3,
   "id": "d15f5af1",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>revenue</th>\n",
       "      <th>num_purchases</th>\n",
       "      <th>purchase</th>\n",
       "      <th>ab_group</th>\n",
       "      <th>av_site visit</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>0.0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>A</td>\n",
       "      <td>9.040174</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>0.0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>A</td>\n",
       "      <td>4.811628</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>0.0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>A</td>\n",
       "      <td>7.342623</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>0.0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>A</td>\n",
       "      <td>7.744581</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>0.0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>A</td>\n",
       "      <td>10.511814</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>23647</th>\n",
       "      <td>0.0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>B</td>\n",
       "      <td>10.207152</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>23648</th>\n",
       "      <td>0.0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>B</td>\n",
       "      <td>5.148761</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>23649</th>\n",
       "      <td>0.0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>B</td>\n",
       "      <td>4.809019</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>23650</th>\n",
       "      <td>0.0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>B</td>\n",
       "      <td>8.127488</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>23651</th>\n",
       "      <td>0.0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>B</td>\n",
       "      <td>8.928102</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>23652 rows × 5 columns</p>\n",
       "</div>"
      ],
      "text/plain": [
       "       revenue  num_purchases  purchase ab_group  av_site visit\n",
       "0          0.0              0         0        A       9.040174\n",
       "1          0.0              0         0        A       4.811628\n",
       "2          0.0              0         0        A       7.342623\n",
       "3          0.0              0         0        A       7.744581\n",
       "4          0.0              0         0        A      10.511814\n",
       "...        ...            ...       ...      ...            ...\n",
       "23647      0.0              0         0        B      10.207152\n",
       "23648      0.0              0         0        B       5.148761\n",
       "23649      0.0              0         0        B       4.809019\n",
       "23650      0.0              0         0        B       8.127488\n",
       "23651      0.0              0         0        B       8.928102\n",
       "\n",
       "[23652 rows x 5 columns]"
      ]
     },
     "execution_count": 3,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 4,
   "id": "34af71bd",
   "metadata": {},
   "outputs": [
    {
     "name": "stderr",
     "output_type": "stream",
     "text": [
      "C:\\ProgramData\\anaconda3\\Lib\\site-packages\\openpyxl\\worksheet\\_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed\n",
      "  for idx, row in parser.parse():\n"
     ]
    }
   ],
   "source": [
    "df_excel = pd.read_excel('AB_Test.xlsx')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 5,
   "id": "0acde91d",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>USER_ID</th>\n",
       "      <th>VARIANT_NAME</th>\n",
       "      <th>REVENUE</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>737</td>\n",
       "      <td>variant</td>\n",
       "      <td>0.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>2423</td>\n",
       "      <td>control</td>\n",
       "      <td>0.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>9411</td>\n",
       "      <td>control</td>\n",
       "      <td>0.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>7311</td>\n",
       "      <td>control</td>\n",
       "      <td>0.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>6174</td>\n",
       "      <td>variant</td>\n",
       "      <td>0.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>9995</th>\n",
       "      <td>1981</td>\n",
       "      <td>control</td>\n",
       "      <td>0.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>9996</th>\n",
       "      <td>502</td>\n",
       "      <td>variant</td>\n",
       "      <td>0.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>9997</th>\n",
       "      <td>9214</td>\n",
       "      <td>variant</td>\n",
       "      <td>0.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>9998</th>\n",
       "      <td>7741</td>\n",
       "      <td>control</td>\n",
       "      <td>0.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>9999</th>\n",
       "      <td>9468</td>\n",
       "      <td>control</td>\n",
       "      <td>0.0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>10000 rows × 3 columns</p>\n",
       "</div>"
      ],
      "text/plain": [
       "      USER_ID VARIANT_NAME  REVENUE\n",
       "0         737      variant      0.0\n",
       "1        2423      control      0.0\n",
       "2        9411      control      0.0\n",
       "3        7311      control      0.0\n",
       "4        6174      variant      0.0\n",
       "...       ...          ...      ...\n",
       "9995     1981      control      0.0\n",
       "9996      502      variant      0.0\n",
       "9997     9214      variant      0.0\n",
       "9998     7741      control      0.0\n",
       "9999     9468      control      0.0\n",
       "\n",
       "[10000 rows x 3 columns]"
      ]
     },
     "execution_count": 5,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df_excel"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 7,
   "id": "4d6a41ee",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "revenue          0\n",
       "num_purchases    0\n",
       "purchase         0\n",
       "ab_group         0\n",
       "av_site visit    0\n",
       "dtype: int64"
      ]
     },
     "execution_count": 7,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df.isna().sum()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 11,
   "id": "06ef3af4",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "<class 'pandas.core.frame.DataFrame'>\n",
      "RangeIndex: 23652 entries, 0 to 23651\n",
      "Data columns (total 5 columns):\n",
      " #   Column         Non-Null Count  Dtype  \n",
      "---  ------         --------------  -----  \n",
      " 0   revenue        23652 non-null  float64\n",
      " 1   num_purchases  23652 non-null  uint8  \n",
      " 2   purchase       23652 non-null  int64  \n",
      " 3   ab_group       23652 non-null  object \n",
      " 4   av_site visit  23652 non-null  float64\n",
      "dtypes: float64(2), int64(1), object(1), uint8(1)\n",
      "memory usage: 762.4+ KB\n"
     ]
    }
   ],
   "source": [
    "df.info()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "b0145098",
   "metadata": {},
   "outputs": [],
   "source": []
  },
  {
   "cell_type": "code",
   "execution_count": 9,
   "id": "fb28f24c",
   "metadata": {},
   "outputs": [],
   "source": [
    "import numpy as np"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 10,
   "id": "901ddad9",
   "metadata": {},
   "outputs": [],
   "source": [
    "df = df.astype({'num_purchases':np.uint8})"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 17,
   "id": "f7ac7cb1",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>revenue</th>\n",
       "      <th>num_purchases</th>\n",
       "      <th>purchase</th>\n",
       "      <th>ab_group</th>\n",
       "      <th>av_site visit</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>count</th>\n",
       "      <td>23184.000000</td>\n",
       "      <td>23184.000000</td>\n",
       "      <td>23184.000000</td>\n",
       "      <td>23184</td>\n",
       "      <td>23184.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>unique</th>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>top</th>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>A</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>freq</th>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>11829</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>mean</th>\n",
       "      <td>0.326511</td>\n",
       "      <td>0.043780</td>\n",
       "      <td>0.020704</td>\n",
       "      <td>NaN</td>\n",
       "      <td>7.188254</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>std</th>\n",
       "      <td>9.645839</td>\n",
       "      <td>1.089462</td>\n",
       "      <td>0.142394</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2.924011</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>min</th>\n",
       "      <td>0.000000</td>\n",
       "      <td>0.000000</td>\n",
       "      <td>0.000000</td>\n",
       "      <td>NaN</td>\n",
       "      <td>0.008679</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>25%</th>\n",
       "      <td>0.000000</td>\n",
       "      <td>0.000000</td>\n",
       "      <td>0.000000</td>\n",
       "      <td>NaN</td>\n",
       "      <td>5.314379</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>50%</th>\n",
       "      <td>0.000000</td>\n",
       "      <td>0.000000</td>\n",
       "      <td>0.000000</td>\n",
       "      <td>NaN</td>\n",
       "      <td>7.068656</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>75%</th>\n",
       "      <td>0.000000</td>\n",
       "      <td>0.000000</td>\n",
       "      <td>0.000000</td>\n",
       "      <td>NaN</td>\n",
       "      <td>8.910900</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>max</th>\n",
       "      <td>1303.609284</td>\n",
       "      <td>152.000000</td>\n",
       "      <td>1.000000</td>\n",
       "      <td>NaN</td>\n",
       "      <td>22.446822</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "             revenue  num_purchases      purchase ab_group  av_site visit\n",
       "count   23184.000000   23184.000000  23184.000000    23184   23184.000000\n",
       "unique           NaN            NaN           NaN        2            NaN\n",
       "top              NaN            NaN           NaN        A            NaN\n",
       "freq             NaN            NaN           NaN    11829            NaN\n",
       "mean        0.326511       0.043780      0.020704      NaN       7.188254\n",
       "std         9.645839       1.089462      0.142394      NaN       2.924011\n",
       "min         0.000000       0.000000      0.000000      NaN       0.008679\n",
       "25%         0.000000       0.000000      0.000000      NaN       5.314379\n",
       "50%         0.000000       0.000000      0.000000      NaN       7.068656\n",
       "75%         0.000000       0.000000      0.000000      NaN       8.910900\n",
       "max      1303.609284     152.000000      1.000000      NaN      22.446822"
      ]
     },
     "execution_count": 17,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df.describe(include='all')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 13,
   "id": "6622742d",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "revenue          468\n",
       "num_purchases    468\n",
       "purchase         468\n",
       "ab_group         468\n",
       "av_site visit    468\n",
       "dtype: int64"
      ]
     },
     "execution_count": 13,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df[df['av_site visit']<0].count()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 14,
   "id": "03a44cc2",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "ab_group\n",
       "B    462\n",
       "A      6\n",
       "Name: count, dtype: int64"
      ]
     },
     "execution_count": 14,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df[df['av_site visit']<0 ].ab_group.value_counts()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 15,
   "id": "fce97628",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "0.019533231861998984"
      ]
     },
     "execution_count": 15,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "462/23652"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 16,
   "id": "4266a808",
   "metadata": {},
   "outputs": [],
   "source": [
    "df = df[df['av_site visit']>=0]"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 19,
   "id": "04263619",
   "metadata": {},
   "outputs": [],
   "source": [
    "df_a = df[df['ab_group']=='A']\n",
    "df_b = df[df['ab_group']=='B']"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 20,
   "id": "ef68486d",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "<class 'pandas.core.frame.DataFrame'>\n",
      "Index: 11829 entries, 0 to 11834\n",
      "Data columns (total 5 columns):\n",
      " #   Column         Non-Null Count  Dtype  \n",
      "---  ------         --------------  -----  \n",
      " 0   revenue        11829 non-null  float64\n",
      " 1   num_purchases  11829 non-null  uint8  \n",
      " 2   purchase       11829 non-null  int64  \n",
      " 3   ab_group       11829 non-null  object \n",
      " 4   av_site visit  11829 non-null  float64\n",
      "dtypes: float64(2), int64(1), object(1), uint8(1)\n",
      "memory usage: 473.6+ KB\n"
     ]
    }
   ],
   "source": [
    "df_a.info()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 21,
   "id": "78288ce5",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>revenue</th>\n",
       "      <th>num_purchases</th>\n",
       "      <th>purchase</th>\n",
       "      <th>av_site visit</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>count</th>\n",
       "      <td>11355.000000</td>\n",
       "      <td>11355.000000</td>\n",
       "      <td>11355.000000</td>\n",
       "      <td>11355.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>mean</th>\n",
       "      <td>0.245093</td>\n",
       "      <td>0.036548</td>\n",
       "      <td>0.019727</td>\n",
       "      <td>7.404806</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>std</th>\n",
       "      <td>3.192299</td>\n",
       "      <td>0.422820</td>\n",
       "      <td>0.139067</td>\n",
       "      <td>3.630412</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>min</th>\n",
       "      <td>0.000000</td>\n",
       "      <td>0.000000</td>\n",
       "      <td>0.000000</td>\n",
       "      <td>0.008679</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>25%</th>\n",
       "      <td>0.000000</td>\n",
       "      <td>0.000000</td>\n",
       "      <td>0.000000</td>\n",
       "      <td>4.746728</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>50%</th>\n",
       "      <td>0.000000</td>\n",
       "      <td>0.000000</td>\n",
       "      <td>0.000000</td>\n",
       "      <td>7.262590</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>75%</th>\n",
       "      <td>0.000000</td>\n",
       "      <td>0.000000</td>\n",
       "      <td>0.000000</td>\n",
       "      <td>9.889165</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>max</th>\n",
       "      <td>113.830000</td>\n",
       "      <td>25.000000</td>\n",
       "      <td>1.000000</td>\n",
       "      <td>22.446822</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "            revenue  num_purchases      purchase  av_site visit\n",
       "count  11355.000000   11355.000000  11355.000000   11355.000000\n",
       "mean       0.245093       0.036548      0.019727       7.404806\n",
       "std        3.192299       0.422820      0.139067       3.630412\n",
       "min        0.000000       0.000000      0.000000       0.008679\n",
       "25%        0.000000       0.000000      0.000000       4.746728\n",
       "50%        0.000000       0.000000      0.000000       7.262590\n",
       "75%        0.000000       0.000000      0.000000       9.889165\n",
       "max      113.830000      25.000000      1.000000      22.446822"
      ]
     },
     "execution_count": 21,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df_b.describe()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 22,
   "id": "c0b8a74e",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>revenue</th>\n",
       "      <th>num_purchases</th>\n",
       "      <th>purchase</th>\n",
       "      <th>av_site visit</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>count</th>\n",
       "      <td>11829.000000</td>\n",
       "      <td>11829.000000</td>\n",
       "      <td>11829.000000</td>\n",
       "      <td>11829.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>mean</th>\n",
       "      <td>0.404667</td>\n",
       "      <td>0.050723</td>\n",
       "      <td>0.021642</td>\n",
       "      <td>6.980379</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>std</th>\n",
       "      <td>13.136545</td>\n",
       "      <td>1.467883</td>\n",
       "      <td>0.145517</td>\n",
       "      <td>2.004450</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>min</th>\n",
       "      <td>0.000000</td>\n",
       "      <td>0.000000</td>\n",
       "      <td>0.000000</td>\n",
       "      <td>0.145466</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>25%</th>\n",
       "      <td>0.000000</td>\n",
       "      <td>0.000000</td>\n",
       "      <td>0.000000</td>\n",
       "      <td>5.657590</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>50%</th>\n",
       "      <td>0.000000</td>\n",
       "      <td>0.000000</td>\n",
       "      <td>0.000000</td>\n",
       "      <td>6.984166</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>75%</th>\n",
       "      <td>0.000000</td>\n",
       "      <td>0.000000</td>\n",
       "      <td>0.000000</td>\n",
       "      <td>8.346243</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>max</th>\n",
       "      <td>1303.609284</td>\n",
       "      <td>152.000000</td>\n",
       "      <td>1.000000</td>\n",
       "      <td>17.728836</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "            revenue  num_purchases      purchase  av_site visit\n",
       "count  11829.000000   11829.000000  11829.000000   11829.000000\n",
       "mean       0.404667       0.050723      0.021642       6.980379\n",
       "std       13.136545       1.467883      0.145517       2.004450\n",
       "min        0.000000       0.000000      0.000000       0.145466\n",
       "25%        0.000000       0.000000      0.000000       5.657590\n",
       "50%        0.000000       0.000000      0.000000       6.984166\n",
       "75%        0.000000       0.000000      0.000000       8.346243\n",
       "max     1303.609284     152.000000      1.000000      17.728836"
      ]
     },
     "execution_count": 22,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df_a.describe()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 24,
   "id": "6477dc5b",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "purchase\n",
       "0    11573\n",
       "1      256\n",
       "Name: count, dtype: int64"
      ]
     },
     "execution_count": 24,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df_a.purchase.value_counts()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 25,
   "id": "85f3d5eb",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "(11829, 256)"
      ]
     },
     "execution_count": 25,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "all_n = df_a.purchase.value_counts().sum()\n",
    "buy_n = df_a.purchase.value_counts()[1]\n",
    "all_n, buy_n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 26,
   "id": "869a3578",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "(11355, 224)"
      ]
     },
     "execution_count": 26,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "all_n_b = df_b.purchase.value_counts().sum()\n",
    "buy_n_b = df_b.purchase.value_counts()[1]\n",
    "all_n_b, buy_n_b"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 28,
   "id": "f1644c7b",
   "metadata": {},
   "outputs": [],
   "source": [
    "from statsmodels.stats import proportion"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 29,
   "id": "088cbe14",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Results are  chisq =1.048, pvalue = 0.306\n"
     ]
    }
   ],
   "source": [
    "chisq, pvalue, table = proportion.proportions_chisquare(np.array([buy_n, buy_n_b]),\n",
    "                                                   np.array([all_n, all_n_b]))\n",
    "\n",
    "print('Results are ','chisq =%.3f, pvalue = %.3f'%(chisq, pvalue))"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 31,
   "id": "423dfcae",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Results are  chisq =1.024, pvalue = 0.306\n"
     ]
    }
   ],
   "source": [
    "stats, pvalue = proportion.proportions_ztest(np.array([buy_n, buy_n_b]),\n",
    "                                                   np.array([all_n, all_n_b]))\n",
    "\n",
    "print('Results are ','chisq =%.3f, pvalue = %.3f'%(stats, pvalue))"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 32,
   "id": "188801da",
   "metadata": {},
   "outputs": [
    {
     "name": "stderr",
     "output_type": "stream",
     "text": [
      "C:\\ProgramData\\anaconda3\\Lib\\site-packages\\scipy\\stats\\_morestats.py:1882: UserWarning: p-value may not be accurate for N > 5000.\n",
      "  warnings.warn(\"p-value may not be accurate for N > 5000.\")\n"
     ]
    },
    {
     "data": {
      "text/plain": [
       "ShapiroResult(statistic=0.9995651245117188, pvalue=0.0068447222001850605)"
      ]
     },
     "execution_count": 32,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "st.shapiro(df_a['av_site visit'])"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 33,
   "id": "a321a5cb",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "<Axes: >"
      ]
     },
     "execution_count": 33,
     "metadata": {},
     "output_type": "execute_result"
    },
    {
     "data": {
      "image/png": "iVBORw0KGgoAAAANSUhEUgAAAjEAAAGfCAYAAACukYP3AAAAOXRFWHRTb2Z0d2FyZQBNYXRwbG90bGliIHZlcnNpb24zLjcuMiwgaHR0cHM6Ly9tYXRwbG90bGliLm9yZy8pXeV/AAAACXBIWXMAAA9hAAAPYQGoP6dpAAA4IklEQVR4nO3df3RU9Z3/8deQTCaEJgMBk0lKjNRSRIOsDZqEWkEhCdnGaPEIbXqy2KVAVwWzgWNBj6fDqkDpLtgNlVIPBSRQPF3E2gMNhKNg2RB+RLIFS6ldUeE0IYphAoKTMbnfP7q5X4f8gCFhkk/yfJwzJ5k77/u5n/e94/DyztyMw7IsSwAAAIYZ0NMTAAAAuBaEGAAAYCRCDAAAMBIhBgAAGIkQAwAAjESIAQAARiLEAAAAIxFiAACAkQgxAADASIQYAABgpMiurLx06VI99dRTeuKJJ/TCCy9IkizL0uLFi/XLX/5SDQ0NysjI0M9//nPddttt9np+v18LFizQr3/9a126dEmTJk3Siy++qOHDh9s1DQ0Nmjdvnl5//XVJUkFBgUpLSzV48OCrmltLS4v+9re/KTY2Vg6HoyttAgCAMLEsS+fPn1dycrIGDLjCuRbrGh08eNC66aabrNtvv9164okn7OXLli2zYmNjra1bt1pHjx61pk+fbiUlJVmNjY12zQ9/+EPry1/+slVRUWG9/fbb1r333muNHTvW+vzzz+2aKVOmWGlpaVZlZaVVWVlppaWlWfn5+Vc9v1OnTlmSuHHjxo0bN24G3k6dOnXFf+sdlhX6F0BeuHBBX//61/Xiiy/queee0z/8wz/ohRdekGVZSk5OVnFxsX70ox9J+vtZl8TERP3kJz/RnDlz5PP5dMMNN2jjxo2aPn26JOlvf/ubUlJStGPHDuXm5ur48eO69dZbVVVVpYyMDElSVVWVsrKy9Oc//1mjRo264hx9Pp8GDx6sU6dOKS4uLtQWgwQCAe3atUs5OTlyOp1dGstE9E//9N9/+5fYB/Qf3v4bGxuVkpKic+fOye12d1p7TW8nPfbYY/rWt76lyZMn67nnnrOXnzx5UnV1dcrJybGXuVwuTZgwQZWVlZozZ46qq6sVCASCapKTk5WWlqbKykrl5uZq//79crvddoCRpMzMTLndblVWVrYbYvx+v/x+v33//PnzkqSBAwdq4MCB19KmLTIyUjExMRo4cGC/fALTP/3Tf//tX2If0H94+w8EApJ0VR8FCTnEbNmyRW+//bYOHTrU5rG6ujpJUmJiYtDyxMREffDBB3ZNVFSUhgwZ0qamdf26ujolJCS0GT8hIcGuudzSpUu1ePHiNst37dqlmJiYq+jsyioqKrplHFPRP/33Z/29f4l9QP/h6f/ixYtXXRtSiDl16pSeeOIJ7dq1S9HR0R3WXZ6eLMu6YqK6vKa9+s7GWbRokUpKSuz7raejcnJyuuXtpIqKCmVnZ/fLFE7/9E///bd/iX1A/+Htv7Gx8aprQwox1dXVqq+vV3p6ur2sublZb731llatWqUTJ05I+vuZlKSkJLumvr7ePjvj8XjU1NSkhoaGoLMx9fX1Gj9+vF1z5syZNtv/6KOP2pzlaeVyueRyudosdzqd3bbTu3MsE9E//dN//+1fYh/Qf3j6D2UbIf2dmEmTJuno0aOqqamxb+PGjdP3vvc91dTU6Ctf+Yo8Hk/QKaempibt3bvXDijp6elyOp1BNbW1tTp27Jhdk5WVJZ/Pp4MHD9o1Bw4ckM/ns2sAAED/FtKZmNjYWKWlpQUtGzRokIYOHWovLy4u1pIlSzRy5EiNHDlSS5YsUUxMjAoLCyVJbrdbM2fO1Pz58zV06FDFx8drwYIFGjNmjCZPnixJGj16tKZMmaJZs2ZpzZo1kqTZs2crPz//qq5MAgAAfV+X/thde5588kldunRJjz76qP3H7nbt2qXY2Fi7ZuXKlYqMjNS0adPsP3a3fv16RURE2DWbNm3SvHnz7KuYCgoKtGrVqu6eLgAAMFSXQ8yePXuC7jscDnm9Xnm93g7XiY6OVmlpqUpLSzusiY+PV1lZWVenBwAA+ii+OwkAABiJEAMAAIxEiAEAAEYixAAAACMRYgAAgJEIMQAAwEiEGAAAYKRu/2N3QH9308LtPT2FkL2/7Fs9PQUACBlnYgAAgJEIMQAAwEiEGAAAYCRCDAAAMBIhBgAAGIkQAwAAjESIAQAARiLEAAAAIxFiAACAkQgxAADASIQYAABgJEIMAAAwEiEGAAAYiRADAACMRIgBAABGIsQAAAAjEWIAAICRCDEAAMBIhBgAAGAkQgwAADASIQYAABiJEAMAAIxEiAEAAEYixAAAACMRYgAAgJEIMQAAwEiEGAAAYKSQQszq1at1++23Ky4uTnFxccrKytLvf/97+/FHHnlEDocj6JaZmRk0ht/v19y5czVs2DANGjRIBQUFOn36dFBNQ0ODioqK5Ha75Xa7VVRUpHPnzl17lwAAoM+JDKV4+PDhWrZsmb761a9KkjZs2KAHHnhAR44c0W233SZJmjJlitatW2evExUVFTRGcXGxfve732nLli0aOnSo5s+fr/z8fFVXVysiIkKSVFhYqNOnT6u8vFySNHv2bBUVFel3v/vdtXcKoEM3Ldze4WOuCEvL75LSvDvlb3aEcVade3/Zt3p6CgB6WEgh5v777w+6//zzz2v16tWqqqqyQ4zL5ZLH42l3fZ/Pp7Vr12rjxo2aPHmyJKmsrEwpKSnavXu3cnNzdfz4cZWXl6uqqkoZGRmSpJdeeklZWVk6ceKERo0aFXKTAACg7wkpxHxRc3OzfvOb3+jTTz9VVlaWvXzPnj1KSEjQ4MGDNWHCBD3//PNKSEiQJFVXVysQCCgnJ8euT05OVlpamiorK5Wbm6v9+/fL7XbbAUaSMjMz5Xa7VVlZ2WGI8fv98vv99v3GxkZJUiAQUCAQuNY27TG++LO/of/Q+ndFWNdzOmHnGmAF/ewtwvV87O/Pf4l9QP/h7T+U7YQcYo4ePaqsrCx99tln+tKXvqRt27bp1ltvlSTl5eXp4YcfVmpqqk6ePKlnnnlG9913n6qrq+VyuVRXV6eoqCgNGTIkaMzExETV1dVJkurq6uzQ80UJCQl2TXuWLl2qxYsXt1m+a9cuxcTEhNpmuyoqKrplHFPR/9X1v/yu6zyRHvLsuJaenkKQHTt2hHV7/f35L7EP6D88/V+8ePGqa0MOMaNGjVJNTY3OnTunrVu3asaMGdq7d69uvfVWTZ8+3a5LS0vTuHHjlJqaqu3bt2vq1KkdjmlZlhyO//9e+xd/76jmcosWLVJJSYl9v7GxUSkpKcrJyVFcXFyobQYJBAKqqKhQdna2nE5nl8YyEf2H1n+ad2cYZhU+rgGWnh3XomcOD5C/pfd8JuaYNzcs2+nvz3+JfUD/4e2/9Z2UqxFyiImKirI/2Dtu3DgdOnRIP/vZz7RmzZo2tUlJSUpNTdW7774rSfJ4PGpqalJDQ0PQ2Zj6+nqNHz/erjlz5kybsT766CMlJiZ2OC+XyyWXy9VmudPp7Lad3p1jmYj+r67/3vTh1+7kb3H0qt7C/Vzs789/iX1A/+HpP5RtdPnvxFiWFfRZlC86e/asTp06paSkJElSenq6nE5n0Cmp2tpaHTt2zA4xWVlZ8vl8OnjwoF1z4MAB+Xw+uwYAACCkMzFPPfWU8vLylJKSovPnz2vLli3as2ePysvLdeHCBXm9Xj300ENKSkrS+++/r6eeekrDhg3Tt7/9bUmS2+3WzJkzNX/+fA0dOlTx8fFasGCBxowZY1+tNHr0aE2ZMkWzZs2yz+7Mnj1b+fn5XJkEAABsIYWYM2fOqKioSLW1tXK73br99ttVXl6u7OxsXbp0SUePHtXLL7+sc+fOKSkpSffee69eeeUVxcbG2mOsXLlSkZGRmjZtmi5duqRJkyZp/fr19t+IkaRNmzZp3rx59lVMBQUFWrVqVTe1DAAA+oKQQszatWs7fGzgwIHaufPKH2iMjo5WaWmpSktLO6yJj49XWVlZKFMDAAD9DN+dBAAAjESIAQAARiLEAAAAIxFiAACAkQgxAADASIQYAABgJEIMAAAwEiEGAAAYiRADAACMRIgBAABGIsQAAAAjEWIAAICRCDEAAMBIhBgAAGAkQgwAADASIQYAABiJEAMAAIxEiAEAAEYixAAAACMRYgAAgJEIMQAAwEiEGAAAYCRCDAAAMBIhBgAAGIkQAwAAjESIAQAARiLEAAAAIxFiAACAkQgxAADASIQYAABgJEIMAAAwEiEGAAAYiRADAACMRIgBAABGIsQAAAAjhRRiVq9erdtvv11xcXGKi4tTVlaWfv/739uPW5Ylr9er5ORkDRw4UBMnTtQ777wTNIbf79fcuXM1bNgwDRo0SAUFBTp9+nRQTUNDg4qKiuR2u+V2u1VUVKRz585de5cAAKDPCSnEDB8+XMuWLdPhw4d1+PBh3XfffXrggQfsoLJ8+XKtWLFCq1at0qFDh+TxeJSdna3z58/bYxQXF2vbtm3asmWL9u3bpwsXLig/P1/Nzc12TWFhoWpqalReXq7y8nLV1NSoqKiom1oGAAB9QWQoxffff3/Q/eeff16rV69WVVWVbr31Vr3wwgt6+umnNXXqVEnShg0blJiYqM2bN2vOnDny+Xxau3atNm7cqMmTJ0uSysrKlJKSot27dys3N1fHjx9XeXm5qqqqlJGRIUl66aWXlJWVpRMnTmjUqFHtzs3v98vv99v3GxsbJUmBQECBQCCUNttoXb+r45iK/kPr3xVhXc/phJ1rgBX0s7cI1/Oxvz//JfYB/Ye3/1C247As65pemZqbm/Wb3/xGM2bM0JEjRxQdHa2bb75Zb7/9tu644w677oEHHtDgwYO1YcMGvfHGG5o0aZI++eQTDRkyxK4ZO3asHnzwQS1evFi/+tWvVFJS0ubto8GDB2vlypX6/ve/3+58vF6vFi9e3Gb55s2bFRMTcy0tAgCAMLt48aIKCwvl8/kUFxfXaW1IZ2Ik6ejRo8rKytJnn32mL33pS9q2bZtuvfVWVVZWSpISExOD6hMTE/XBBx9Ikurq6hQVFRUUYFpr6urq7JqEhIQ2201ISLBr2rNo0SKVlJTY9xsbG5WSkqKcnJwr7oQrCQQCqqioUHZ2tpxOZ5fGMhH9h9Z/mndnGGYVPq4Blp4d16JnDg+Qv8XR09OxHfPmhmU7/f35L7EP6D+8/be+k3I1Qg4xo0aNUk1Njc6dO6etW7dqxowZ2rt3r/24wxH8ImdZVptll7u8pr36K43jcrnkcrnaLHc6nd2207tzLBPR/9X172/uPf/Qdyd/i6NX9Rbu52J/f/5L7AP6D0//oWwj5Euso6Ki9NWvflXjxo3T0qVLNXbsWP3sZz+Tx+ORpDZnS+rr6+2zMx6PR01NTWpoaOi05syZM222+9FHH7U5ywMAAPqvLv+dGMuy5Pf7NWLECHk8HlVUVNiPNTU1ae/evRo/frwkKT09XU6nM6imtrZWx44ds2uysrLk8/l08OBBu+bAgQPy+Xx2DQAAQEhvJz311FPKy8tTSkqKzp8/ry1btmjPnj0qLy+Xw+FQcXGxlixZopEjR2rkyJFasmSJYmJiVFhYKElyu92aOXOm5s+fr6FDhyo+Pl4LFizQmDFj7KuVRo8erSlTpmjWrFlas2aNJGn27NnKz8/v8MokAADQ/4QUYs6cOaOioiLV1tbK7Xbr9ttvV3l5ubKzsyVJTz75pC5duqRHH31UDQ0NysjI0K5duxQbG2uPsXLlSkVGRmratGm6dOmSJk2apPXr1ysiIsKu2bRpk+bNm6ecnBxJUkFBgVatWtUd/QIAgD4ipBCzdu3aTh93OBzyer3yer0d1kRHR6u0tFSlpaUd1sTHx6usrCyUqQEAgH6G704CAABGIsQAAAAjEWIAAICRCDEAAMBIhBgAAGAkQgwAADASIQYAABiJEAMAAIxEiAEAAEYixAAAACMRYgAAgJEIMQAAwEiEGAAAYCRCDAAAMBIhBgAAGIkQAwAAjESIAQAARiLEAAAAIxFiAACAkQgxAADASIQYAABgJEIMAAAwEiEGAAAYiRADAACMRIgBAABGIsQAAAAjEWIAAICRCDEAAMBIhBgAAGAkQgwAADASIQYAABiJEAMAAIxEiAEAAEYixAAAACOFFGKWLl2qO++8U7GxsUpISNCDDz6oEydOBNU88sgjcjgcQbfMzMygGr/fr7lz52rYsGEaNGiQCgoKdPr06aCahoYGFRUVye12y+12q6ioSOfOnbu2LgEAQJ8TUojZu3evHnvsMVVVVamiokKff/65cnJy9OmnnwbVTZkyRbW1tfZtx44dQY8XFxdr27Zt2rJli/bt26cLFy4oPz9fzc3Ndk1hYaFqampUXl6u8vJy1dTUqKioqAutAgCAviQylOLy8vKg++vWrVNCQoKqq6t1zz332MtdLpc8Hk+7Y/h8Pq1du1YbN27U5MmTJUllZWVKSUnR7t27lZubq+PHj6u8vFxVVVXKyMiQJL300kvKysrSiRMnNGrUqJCaBAAAfU9IIeZyPp9PkhQfHx+0fM+ePUpISNDgwYM1YcIEPf/880pISJAkVVdXKxAIKCcnx65PTk5WWlqaKisrlZubq/3798vtdtsBRpIyMzPldrtVWVnZbojx+/3y+/32/cbGRklSIBBQIBDoSpv2+l0dx1T0H1r/rgjrek4n7FwDrKCfvUW4no/9/fkvsQ/oP7z9h7Kdaw4xlmWppKREd999t9LS0uzleXl5evjhh5WamqqTJ0/qmWee0X333afq6mq5XC7V1dUpKipKQ4YMCRovMTFRdXV1kqS6ujo79HxRQkKCXXO5pUuXavHixW2W79q1SzExMdfaZpCKiopuGcdU9H91/S+/6zpPpIc8O66lp6cQ5PK3qa+3/v78l9gH9B+e/i9evHjVtdccYh5//HH98Y9/1L59+4KWT58+3f49LS1N48aNU2pqqrZv366pU6d2OJ5lWXI4HPb9L/7eUc0XLVq0SCUlJfb9xsZGpaSkKCcnR3FxcVfdV3sCgYAqKiqUnZ0tp9PZpbFMRP+h9Z/m3RmGWYWPa4ClZ8e16JnDA+Rvaf+/v55wzJsblu309+e/xD6g//D23/pOytW4phAzd+5cvf7663rrrbc0fPjwTmuTkpKUmpqqd999V5Lk8XjU1NSkhoaGoLMx9fX1Gj9+vF1z5syZNmN99NFHSkxMbHc7LpdLLperzXKn09ltO707xzIR/V9d//7m3vMPfXfytzh6VW/hfi729+e/xD6g//D0H8o2Qro6ybIsPf7443r11Vf1xhtvaMSIEVdc5+zZszp16pSSkpIkSenp6XI6nUGnpWpra3Xs2DE7xGRlZcnn8+ngwYN2zYEDB+Tz+ewaAADQv4V0Juaxxx7T5s2b9dvf/laxsbH251PcbrcGDhyoCxcuyOv16qGHHlJSUpLef/99PfXUUxo2bJi+/e1v27UzZ87U/PnzNXToUMXHx2vBggUaM2aMfbXS6NGjNWXKFM2aNUtr1qyRJM2ePVv5+flcmQQAACSFGGJWr14tSZo4cWLQ8nXr1umRRx5RRESEjh49qpdfflnnzp1TUlKS7r33Xr3yyiuKjY2161euXKnIyEhNmzZNly5d0qRJk7R+/XpFRETYNZs2bdK8efPsq5gKCgq0atWqa+0TAAD0MSGFGMvq/BLLgQMHaufOK3+oMTo6WqWlpSotLe2wJj4+XmVlZaFMDwAA9CN8dxIAADASIQYAABiJEAMAAIxEiAEAAEYixAAAACMRYgAAgJEIMQAAwEiEGAAAYCRCDAAAMBIhBgAAGIkQAwAAjESIAQAARiLEAAAAIxFiAACAkQgxAADASIQYAABgJEIMAAAwEiEGAAAYiRADAACMRIgBAABGIsQAAAAjEWIAAICRCDEAAMBIhBgAAGAkQgwAADASIQYAABiJEAMAAIxEiAEAAEYixAAAACMRYgAAgJEIMQAAwEiEGAAAYCRCDAAAMBIhBgAAGIkQAwAAjBRSiFm6dKnuvPNOxcbGKiEhQQ8++KBOnDgRVGNZlrxer5KTkzVw4EBNnDhR77zzTlCN3+/X3LlzNWzYMA0aNEgFBQU6ffp0UE1DQ4OKiorkdrvldrtVVFSkc+fOXVuXAACgzwkpxOzdu1ePPfaYqqqqVFFRoc8//1w5OTn69NNP7Zrly5drxYoVWrVqlQ4dOiSPx6Ps7GydP3/erikuLta2bdu0ZcsW7du3TxcuXFB+fr6am5vtmsLCQtXU1Ki8vFzl5eWqqalRUVFRN7QMAAD6gshQisvLy4Pur1u3TgkJCaqurtY999wjy7L0wgsv6Omnn9bUqVMlSRs2bFBiYqI2b96sOXPmyOfzae3atdq4caMmT54sSSorK1NKSop2796t3NxcHT9+XOXl5aqqqlJGRoYk6aWXXlJWVpZOnDihUaNGdUfvAADAYCGFmMv5fD5JUnx8vCTp5MmTqqurU05Ojl3jcrk0YcIEVVZWas6cOaqurlYgEAiqSU5OVlpamiorK5Wbm6v9+/fL7XbbAUaSMjMz5Xa7VVlZ2W6I8fv98vv99v3GxkZJUiAQUCAQ6Eqb9vpdHcdU9B9a/64I63pOJ+xcA6ygn71FuJ6P/f35L7EP6D+8/YeynWsOMZZlqaSkRHfffbfS0tIkSXV1dZKkxMTEoNrExER98MEHdk1UVJSGDBnSpqZ1/bq6OiUkJLTZZkJCgl1zuaVLl2rx4sVtlu/atUsxMTEhdte+ioqKbhnHVPR/df0vv+s6T6SHPDuupaenEGTHjh1h3V5/f/5L7AP6D0//Fy9evOraaw4xjz/+uP74xz9q3759bR5zOBxB9y3LarPscpfXtFff2TiLFi1SSUmJfb+xsVEpKSnKyclRXFxcp9u+kkAgoIqKCmVnZ8vpdHZpLBPRf2j9p3l3hmFW4eMaYOnZcS165vAA+Vs6/+84nI55c8Oynf7+/JfYB/Qf3v5b30m5GtcUYubOnavXX39db731loYPH24v93g8kv5+JiUpKcleXl9fb5+d8Xg8ampqUkNDQ9DZmPr6eo0fP96uOXPmTJvtfvTRR23O8rRyuVxyuVxtljudzm7b6d05lono/+r69zf3nn/ou5O/xdGregv3c7G/P/8l9gH9h6f/ULYR0tVJlmXp8ccf16uvvqo33nhDI0aMCHp8xIgR8ng8QaecmpqatHfvXjugpKeny+l0BtXU1tbq2LFjdk1WVpZ8Pp8OHjxo1xw4cEA+n8+uAQAA/VtIZ2Iee+wxbd68Wb/97W8VGxtrfz7F7XZr4MCBcjgcKi4u1pIlSzRy5EiNHDlSS5YsUUxMjAoLC+3amTNnav78+Ro6dKji4+O1YMECjRkzxr5aafTo0ZoyZYpmzZqlNWvWSJJmz56t/Px8rkzqZ25auL2npyBXhKXld/39baLedCYCAPq7kELM6tWrJUkTJ04MWr5u3To98sgjkqQnn3xSly5d0qOPPqqGhgZlZGRo165dio2NtetXrlypyMhITZs2TZcuXdKkSZO0fv16RURE2DWbNm3SvHnz7KuYCgoKtGrVqmvpEQAA9EEhhRjLuvIllg6HQ16vV16vt8Oa6OholZaWqrS0tMOa+Ph4lZWVhTI9AADQj/DdSQAAwEiEGAAAYCRCDAAAMBIhBgAAGIkQAwAAjESIAQAARiLEAAAAIxFiAACAkQgxAADASIQYAABgJEIMAAAwEiEGAAAYiRADAACMRIgBAABGIsQAAAAjEWIAAICRCDEAAMBIhBgAAGAkQgwAADASIQYAABiJEAMAAIxEiAEAAEYixAAAACMRYgAAgJEIMQAAwEiEGAAAYCRCDAAAMBIhBgAAGIkQAwAAjESIAQAARiLEAAAAIxFiAACAkQgxAADASJE9PQEAuBY3Ldwelu24Iiwtv0tK8+6Uv9nRpbHeX/atbpoVAIkzMQAAwFAhh5i33npL999/v5KTk+VwOPTaa68FPf7II4/I4XAE3TIzM4Nq/H6/5s6dq2HDhmnQoEEqKCjQ6dOng2oaGhpUVFQkt9stt9utoqIinTt3LuQGAQBA3xRyiPn00081duxYrVq1qsOaKVOmqLa21r7t2LEj6PHi4mJt27ZNW7Zs0b59+3ThwgXl5+erubnZriksLFRNTY3Ky8tVXl6umpoaFRUVhTpdAADQR4X8mZi8vDzl5eV1WuNyueTxeNp9zOfzae3atdq4caMmT54sSSorK1NKSop2796t3NxcHT9+XOXl5aqqqlJGRoYk6aWXXlJWVpZOnDihUaNGhTptAADQx1yXD/bu2bNHCQkJGjx4sCZMmKDnn39eCQkJkqTq6moFAgHl5OTY9cnJyUpLS1NlZaVyc3O1f/9+ud1uO8BIUmZmptxutyorK9sNMX6/X36/377f2NgoSQoEAgoEAl3qp3X9ro5jqp7s3xVhhX2bbeYwwAr62d/Qf/f1b+prCK+B9P/Fn+Ha3tXo9hCTl5enhx9+WKmpqTp58qSeeeYZ3XfffaqurpbL5VJdXZ2ioqI0ZMiQoPUSExNVV1cnSaqrq7NDzxclJCTYNZdbunSpFi9e3Gb5rl27FBMT0w2dSRUVFd0yjql6ov/ld4V9kx16dlxLT0+hR9F/1/u//K110/AaSP/hcPHixauu7fYQM336dPv3tLQ0jRs3Tqmpqdq+fbumTp3a4XqWZcnh+P+XL37x945qvmjRokUqKSmx7zc2NiolJUU5OTmKi4u7llZsgUBAFRUVys7OltPp7NJYJurJ/tO8O8O6vfa4Blh6dlyLnjk8QP6Wrl1iayL6777+j3lzu2lW4cVrIP2Hs//Wd1KuxnX/OzFJSUlKTU3Vu+++K0nyeDxqampSQ0ND0NmY+vp6jR8/3q45c+ZMm7E++ugjJSYmtrsdl8sll8vVZrnT6ey2nd6dY5moJ/rv6t/l6E7+Fkevmk+40X/X+zf99YPXQPoPR/+hbOO6/52Ys2fP6tSpU0pKSpIkpaeny+l0Bp2Wqq2t1bFjx+wQk5WVJZ/Pp4MHD9o1Bw4ckM/ns2sAAED/FvKZmAsXLuivf/2rff/kyZOqqalRfHy84uPj5fV69dBDDykpKUnvv/++nnrqKQ0bNkzf/va3JUlut1szZ87U/PnzNXToUMXHx2vBggUaM2aMfbXS6NGjNWXKFM2aNUtr1qyRJM2ePVv5+flcmQQAACRdQ4g5fPiw7r33Xvt+6+dQZsyYodWrV+vo0aN6+eWXde7cOSUlJenee+/VK6+8otjYWHudlStXKjIyUtOmTdOlS5c0adIkrV+/XhEREXbNpk2bNG/ePPsqpoKCgk7/Ng0AAOhfQg4xEydOlGV1fKnhzp1X/iBmdHS0SktLVVpa2mFNfHy8ysrKQp0eAADoJ/juJAAAYCRCDAAAMBIhBgAAGIkQAwAAjESIAQAARiLEAAAAIxFiAACAkQgxAADASIQYAABgJEIMAAAwEiEGAAAYiRADAACMRIgBAABGIsQAAAAjEWIAAICRCDEAAMBIhBgAAGAkQgwAADASIQYAABiJEAMAAIxEiAEAAEYixAAAACMRYgAAgJEIMQAAwEiEGAAAYCRCDAAAMBIhBgAAGIkQAwAAjESIAQAARiLEAAAAIxFiAACAkQgxAADASIQYAABgJEIMAAAwEiEGAAAYKeQQ89Zbb+n+++9XcnKyHA6HXnvttaDHLcuS1+tVcnKyBg4cqIkTJ+qdd94JqvH7/Zo7d66GDRumQYMGqaCgQKdPnw6qaWhoUFFRkdxut9xut4qKinTu3LmQGwQAAH1TyCHm008/1dixY7Vq1ap2H1++fLlWrFihVatW6dChQ/J4PMrOztb58+ftmuLiYm3btk1btmzRvn37dOHCBeXn56u5udmuKSwsVE1NjcrLy1VeXq6amhoVFRVdQ4sAAKAvigx1hby8POXl5bX7mGVZeuGFF/T0009r6tSpkqQNGzYoMTFRmzdv1pw5c+Tz+bR27Vpt3LhRkydPliSVlZUpJSVFu3fvVm5uro4fP67y8nJVVVUpIyNDkvTSSy8pKytLJ06c0KhRo661XwAA0EeEHGI6c/LkSdXV1SknJ8de5nK5NGHCBFVWVmrOnDmqrq5WIBAIqklOTlZaWpoqKyuVm5ur/fv3y+122wFGkjIzM+V2u1VZWdluiPH7/fL7/fb9xsZGSVIgEFAgEOhSX63rd3UcU/Vk/64IK+zbbDOHAVbQz/6G/ruvf1NfQ3gNpP8v/gzX9q5Gt4aYuro6SVJiYmLQ8sTERH3wwQd2TVRUlIYMGdKmpnX9uro6JSQktBk/ISHBrrnc0qVLtXjx4jbLd+3apZiYmNCbaUdFRUW3jGOqnuh/+V1h32SHnh3X0tNT6FH03/X+d+zY0Q0z6Tm8BtJ/OFy8ePGqa7s1xLRyOBxB9y3LarPscpfXtFff2TiLFi1SSUmJfb+xsVEpKSnKyclRXFxcKNNvIxAIqKKiQtnZ2XI6nV0ay0Q92X+ad2dYt9ce1wBLz45r0TOHB8jf0vnzuC+i/+7r/5g3t5tmFV68BtJ/OPtvfSflanRriPF4PJL+fiYlKSnJXl5fX2+fnfF4PGpqalJDQ0PQ2Zj6+nqNHz/erjlz5kyb8T/66KM2Z3lauVwuuVyuNsudTme37fTuHMtEPdG/v7n3/KPpb3H0qvmEG/13vX/TXz94DaT/cPQfyja69e/EjBgxQh6PJ+iUU1NTk/bu3WsHlPT0dDmdzqCa2tpaHTt2zK7JysqSz+fTwYMH7ZoDBw7I5/PZNQAAoH8L+UzMhQsX9Ne//tW+f/LkSdXU1Cg+Pl433nijiouLtWTJEo0cOVIjR47UkiVLFBMTo8LCQkmS2+3WzJkzNX/+fA0dOlTx8fFasGCBxowZY1+tNHr0aE2ZMkWzZs3SmjVrJEmzZ89Wfn4+VyYBAABJ1xBiDh8+rHvvvde+3/o5lBkzZmj9+vV68skndenSJT366KNqaGhQRkaGdu3apdjYWHudlStXKjIyUtOmTdOlS5c0adIkrV+/XhEREXbNpk2bNG/ePPsqpoKCgg7/Ng0AAOh/Qg4xEydOlGV1fKmhw+GQ1+uV1+vtsCY6OlqlpaUqLS3tsCY+Pl5lZWWhTg8AAPQTfHcSAAAwEiEGAAAYiRADAACMRIgBAABGIsQAAAAjEWIAAICRCDEAAMBIhBgAAGAkQgwAADASIQYAABiJEAMAAIxEiAEAAEYixAAAACMRYgAAgJEIMQAAwEiEGAAAYCRCDAAAMBIhBgAAGIkQAwAAjESIAQAARiLEAAAAIxFiAACAkQgxAADASIQYAABgJEIMAAAwEiEGAAAYiRADAACMRIgBAABGIsQAAAAjEWIAAICRCDEAAMBIhBgAAGAkQgwAADASIQYAABiJEAMAAIzU7SHG6/XK4XAE3Twej/24ZVnyer1KTk7WwIEDNXHiRL3zzjtBY/j9fs2dO1fDhg3ToEGDVFBQoNOnT3f3VAEAgMGuy5mY2267TbW1tfbt6NGj9mPLly/XihUrtGrVKh06dEgej0fZ2dk6f/68XVNcXKxt27Zpy5Yt2rdvny5cuKD8/Hw1Nzdfj+kCAAADRV6XQSMjg86+tLIsSy+88IKefvppTZ06VZK0YcMGJSYmavPmzZozZ458Pp/Wrl2rjRs3avLkyZKksrIypaSkaPfu3crNzW13m36/X36/377f2NgoSQoEAgoEAl3qp3X9ro5jqp7s3xVhhX2bbeYwwAr62d/Qf/f1b+prCK+B9P/Fn+Ha3tVwWJbVra9MXq9XP/3pT+V2u+VyuZSRkaElS5boK1/5it577z3dfPPNevvtt3XHHXfY6zzwwAMaPHiwNmzYoDfeeEOTJk3SJ598oiFDhtg1Y8eO1YMPPqjFixd3uN32Htu8ebNiYmK6s0UAAHCdXLx4UYWFhfL5fIqLi+u0ttvPxGRkZOjll1/W1772NZ05c0bPPfecxo8fr3feeUd1dXWSpMTExKB1EhMT9cEHH0iS6urqFBUVFRRgWmta12/PokWLVFJSYt9vbGxUSkqKcnJyrrgTriQQCKiiokLZ2dlyOp1dGqsnpXl3XtN6rgGWnh3XomcOD5C/xdHNs+r96J/+u6v/Y972zyT3dn3lNfBa0X94+299J+VqdHuIycvLs38fM2aMsrKydPPNN2vDhg3KzMyUJDkcwS8ElmW1WXa5K9W4XC65XK42y51OZ7ft9O4cqyf4m7v2AuxvcXR5DJPRP/13tX+TXz8k818Du4r+w9N/KNu47pdYDxo0SGPGjNG7775rf07m8jMq9fX19tkZj8ejpqYmNTQ0dFgDAABw3UOM3+/X8ePHlZSUpBEjRsjj8aiiosJ+vKmpSXv37tX48eMlSenp6XI6nUE1tbW1OnbsmF0DAADQ7W8nLViwQPfff79uvPFG1dfX67nnnlNjY6NmzJghh8Oh4uJiLVmyRCNHjtTIkSO1ZMkSxcTEqLCwUJLkdrs1c+ZMzZ8/X0OHDlV8fLwWLFigMWPG2FcrAQAAdHuIOX36tL773e/q448/1g033KDMzExVVVUpNTVVkvTkk0/q0qVLevTRR9XQ0KCMjAzt2rVLsbGx9hgrV65UZGSkpk2bpkuXLmnSpElav369IiIiunu6AADAUN0eYrZs2dLp4w6HQ16vV16vt8Oa6OholZaWqrS0tJtnBwAA+gq+OwkAABiJEAMAAIxEiAEAAEYixAAAACMRYgAAgJEIMQAAwEiEGAAAYKRu/zsxAID23bRwe09PIWTvL/tWT08B6BBnYgAAgJEIMQAAwEiEGAAAYCRCDAAAMBIhBgAAGIkQAwAAjESIAQAARiLEAAAAIxFiAACAkQgxAADASIQYAABgJEIMAAAwEiEGAAAYiRADAACMRIgBAABGIsQAAAAjEWIAAICRCDEAAMBIhBgAAGAkQgwAADASIQYAABiJEAMAAIxEiAEAAEaK7OkJmOqmhdt7egoAAPRrnIkBAABGIsQAAAAj9foQ8+KLL2rEiBGKjo5Wenq6/vCHP/T0lAAAQC/Qq0PMK6+8ouLiYj399NM6cuSIvvnNbyovL08ffvhhT08NAAD0sF79wd4VK1Zo5syZ+sEPfiBJeuGFF7Rz506tXr1aS5cu7eHZAUDfd9PC7XJFWFp+l5Tm3Sl/s6Onp3RF7y/7Vk9PAWHSa0NMU1OTqqurtXDhwqDlOTk5qqysbFPv9/vl9/vt+z6fT5L0ySefKBAIdGkugUBAFy9e1NmzZ+V0OiVJkZ9/2qUxTRLZYunixRZFBgaouaX3v4B1N/qn//7cv2TePjh79my3jtfevwH9Sbj7P3/+vCTJsqwr1vbaEPPxxx+rublZiYmJQcsTExNVV1fXpn7p0qVavHhxm+UjRoy4bnPsTwp7egI9jP77t/7ev2TWPhj2Hz09A3SH8+fPy+12d1rTa0NMK4cjOPVbltVmmSQtWrRIJSUl9v2WlhZ98sknGjp0aLv1oWhsbFRKSopOnTqluLi4Lo1lIvqnf/rvv/1L7AP6D2//lmXp/PnzSk5OvmJtrw0xw4YNU0RERJuzLvX19W3OzkiSy+WSy+UKWjZ48OBunVNcXFy/fAK3on/6p//+27/EPqD/8PV/pTMwrXrt1UlRUVFKT09XRUVF0PKKigqNHz++h2YFAAB6i157JkaSSkpKVFRUpHHjxikrK0u//OUv9eGHH+qHP/xhT08NAAD0sF4dYqZPn66zZ8/q3/7t31RbW6u0tDTt2LFDqampYZ2Hy+XSj3/84zZvV/UX9E//9N9/+5fYB/Tfe/t3WFdzDRMAAEAv02s/EwMAANAZQgwAADASIQYAABiJEAMAAIxEiAEAAEYixPyfF198USNGjFB0dLTS09P1hz/8odP6vXv3Kj09XdHR0frKV76iX/ziF2GaafdaunSp7rzzTsXGxiohIUEPPvigTpw40ek6e/bskcPhaHP785//HKZZdx+v19umD4/H0+k6feXYS9JNN93U7rF87LHH2q3vC8f+rbfe0v3336/k5GQ5HA699tprQY9bliWv16vk5GQNHDhQEydO1DvvvHPFcbdu3apbb71VLpdLt956q7Zt23adOuiazvoPBAL60Y9+pDFjxmjQoEFKTk7WP/3TP+lvf/tbp2OuX7++3efFZ599dp27Cd2Vjv8jjzzSpo/MzMwrjtsXjr+kdo+jw+HQT3/60w7H7MnjT4iR9Morr6i4uFhPP/20jhw5om9+85vKy8vThx9+2G79yZMn9Y//+I/65je/qSNHjuipp57SvHnztHXr1jDPvOv27t2rxx57TFVVVaqoqNDnn3+unJwcffrplb+l+8SJE6qtrbVvI0eODMOMu99tt90W1MfRo0c7rO1Lx16SDh06FNR761/Ifvjhhztdz+Rj/+mnn2rs2LFatWpVu48vX75cK1as0KpVq3To0CF5PB5lZ2fb36zbnv3792v69OkqKirS//zP/6ioqEjTpk3TgQMHrlcb16yz/i9evKi3335bzzzzjN5++229+uqr+stf/qKCgoIrjhsXFxf0nKitrVV0dPT1aKFLrnT8JWnKlClBfezYsaPTMfvK8ZfU5hj+6le/ksPh0EMPPdTpuD12/C1Yd911l/XDH/4waNktt9xiLVy4sN36J5980rrllluCls2ZM8fKzMy8bnMMl/r6ekuStXfv3g5r3nzzTUuS1dDQEL6JXSc//vGPrbFjx151fV8+9pZlWU888YR18803Wy0tLe0+3peOvWVZliRr27Zt9v2WlhbL4/FYy5Yts5d99tlnltvttn7xi190OM60adOsKVOmBC3Lzc21vvOd73T7nLvT5f235+DBg5Yk64MPPuiwZt26dZbb7e7eyYVBe/3PmDHDeuCBB0Iapy8f/wceeMC67777Oq3pyePf78/ENDU1qbq6Wjk5OUHLc3JyVFlZ2e46+/fvb1Ofm5urw4cPKxAIXLe5hoPP55MkxcfHX7H2jjvuUFJSkiZNmqQ333zzek/tunn33XeVnJysESNG6Dvf+Y7ee++9Dmv78rFvampSWVmZ/vmf//mK3/zeV4795U6ePKm6urqgY+xyuTRhwoQOXw+kjp8Xna1jCp/PJ4fDccUv1L1w4YJSU1M1fPhw5efn68iRI+GZ4HWwZ88eJSQk6Gtf+5pmzZql+vr6Tuv76vE/c+aMtm/frpkzZ16xtqeOf78PMR9//LGam5vbfDN2YmJim2/QblVXV9du/eeff66PP/74us31erMsSyUlJbr77ruVlpbWYV1SUpJ++ctfauvWrXr11Vc1atQoTZo0SW+99VYYZ9s9MjIy9PLLL2vnzp166aWXVFdXp/Hjx+vs2bPt1vfVYy9Jr732ms6dO6dHHnmkw5q+dOzb0/rffCivB63rhbqOCT777DMtXLhQhYWFnX578S233KL169fr9ddf169//WtFR0frG9/4ht59990wzrZ75OXladOmTXrjjTf0H//xHzp06JDuu+8++f3+Dtfpq8d/w4YNio2N1dSpUzut68nj36u/OymcLv8/T8uyOv2/0fbq21tukscff1x//OMftW/fvk7rRo0apVGjRtn3s7KydOrUKf37v/+77rnnnus9zW6Vl5dn/z5mzBhlZWXp5ptv1oYNG1RSUtLuOn3x2EvS2rVrlZeXp+Tk5A5r+tKx70yorwfXuk5vFggE9J3vfEctLS168cUXO63NzMwM+vDrN77xDX39619XaWmp/vM///N6T7VbTZ8+3f49LS1N48aNU2pqqrZv397pP+Z97fhL0q9+9St973vfu+JnW3ry+Pf7MzHDhg1TREREm8RcX1/fJlm38ng87dZHRkZq6NCh122u19PcuXP1+uuv680339Tw4cNDXj8zM9PI/+u63KBBgzRmzJgOe+mLx16SPvjgA+3evVs/+MEPQl63rxx7SfaVaaG8HrSuF+o6vVkgENC0adN08uRJVVRUdHoWpj0DBgzQnXfe2SeeF0lJSUpNTe20l752/CXpD3/4g06cOHFNrwnhPP79PsRERUUpPT3dviqjVUVFhcaPH9/uOllZWW3qd+3apXHjxsnpdF63uV4PlmXp8ccf16uvvqo33nhDI0aMuKZxjhw5oqSkpG6eXfj5/X4dP368w1760rH/onXr1ikhIUHf+ta3Ql63rxx7SRoxYoQ8Hk/QMW5qatLevXs7fD2QOn5edLZOb9UaYN59913t3r37msK5ZVmqqanpE8+Ls2fP6tSpU5320peOf6u1a9cqPT1dY8eODXndsB7/Hvk4cS+zZcsWy+l0WmvXrrX+9Kc/WcXFxdagQYOs999/37Isy1q4cKFVVFRk17/33ntWTEyM9a//+q/Wn/70J2vt2rWW0+m0/uu//qunWrhm//Iv/2K53W5rz549Vm1trX27ePGiXXN5/ytXrrS2bdtm/eUvf7GOHTtmLVy40JJkbd26tSda6JL58+dbe/bssd577z2rqqrKys/Pt2JjY/vFsW/V3Nxs3XjjjdaPfvSjNo/1xWN//vx568iRI9aRI0csSdaKFSusI0eO2FffLFu2zHK73darr75qHT161Prud79rJSUlWY2NjfYYRUVFQVcv/vd//7cVERFhLVu2zDp+/Li1bNkyKzIy0qqqqgp7f1fSWf+BQMAqKCiwhg8fbtXU1AS9Jvj9fnuMy/v3er1WeXm59b//+7/WkSNHrO9///tWZGSkdeDAgZ5osVOd9X/+/Hlr/vz5VmVlpXXy5EnrzTfftLKysqwvf/nL/eL4t/L5fFZMTIy1evXqdsfoTcefEPN/fv7zn1upqalWVFSU9fWvfz3oEuMZM2ZYEyZMCKrfs2ePdccdd1hRUVHWTTfd1OHB7u0ktXtbt26dXXN5/z/5yU+sm2++2YqOjraGDBli3X333db27dvDP/luMH36dCspKclyOp1WcnKyNXXqVOudd96xH+/Lx77Vzp07LUnWiRMn2jzWF49962Xil99mzJhhWdbfL7P+8Y9/bHk8Hsvlcln33HOPdfTo0aAxJkyYYNe3+s1vfmONGjXKcjqd1i233NJrg11n/Z88ebLD14Q333zTHuPy/ouLi60bb7zRioqKsm644QYrJyfHqqysDH9zV6Gz/i9evGjl5ORYN9xwg+V0Oq0bb7zRmjFjhvXhhx8GjdFXj3+rNWvWWAMHDrTOnTvX7hi96fg7LOv/PpUIAABgkH7/mRgAAGAmQgwAADASIQYAABiJEAMAAIxEiAEAAEYixAAAACMRYgAAgJEIMQAAwEiEGAAAYCRCDAAAMBIhBgAAGOn/AaIXYH/1YcrXAAAAAElFTkSuQmCC",
      "text/plain": [
       "<Figure size 640x480 with 1 Axes>"
      ]
     },
     "metadata": {},
     "output_type": "display_data"
    }
   ],
   "source": [
    "df_a['av_site visit'].hist()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 34,
   "id": "ff430985",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "<Axes: >"
      ]
     },
     "execution_count": 34,
     "metadata": {},
     "output_type": "execute_result"
    },
    {
     "data": {
      "image/png": "iVBORw0KGgoAAAANSUhEUgAAAjEAAAGdCAYAAADjWSL8AAAAOXRFWHRTb2Z0d2FyZQBNYXRwbG90bGliIHZlcnNpb24zLjcuMiwgaHR0cHM6Ly9tYXRwbG90bGliLm9yZy8pXeV/AAAACXBIWXMAAA9hAAAPYQGoP6dpAAAljUlEQVR4nO3df0xUZ6L/8c8I4ygGpiILAymy3P26XVNIk6tbfqSttsogWeS2Nqt7TYgmXmtTf4SgaWpN0/G2C73erJrAtrc1Rq3otd8/attEg2C61Wuo1pIlVeM1NherZhlpXQRR7zCF8/2j4Xw7jqiDjDMPvF8JKXPm4fAMDzO+e2YO47AsyxIAAIBhxsV6AgAAAMNBxAAAACMRMQAAwEhEDAAAMBIRAwAAjETEAAAAIxExAADASEQMAAAwUmKsJxAtAwMD+tvf/qbk5GQ5HI5YTwcAANwHy7J0/fp1ZWVlady4ux9rGbUR87e//U3Z2dmxngYAABiGS5cu6dFHH73rmFEbMcnJyZJ++iGkpKSM6L6DwaCamprk9XrldDpHdN+IHOsRf1iT+MJ6xB/WZGg9PT3Kzs62/x2/m1EbMYNPIaWkpEQlYpKSkpSSksIvXxxgPeIPaxJfWI/4w5rc2/28FIQX9gIAACMRMQAAwEhEDAAAMBIRAwAAjETEAAAAIxExAADASEQMAAAwEhEDAACMRMQAAAAjETEAAMBIRAwAADASEQMAAIxExAAAACMRMQAAwEiJsZ4AMNr88rUDsZ5CxC6887tYTwEAIsaRGAAAYCQiBgAAGCmiiKmtrdVvf/tbJScnKz09Xc8//7zOnTsXMmbp0qVyOBwhH4WFhSFjAoGAVq9erbS0NE2aNEkVFRW6fPlyyJiuri5VVlbK7XbL7XarsrJS165dG96tBAAAo05EEXPkyBGtXLlSx48fV3Nzs3788Ud5vV7duHEjZNy8efPU0dFhfxw8eDDk+qqqKu3fv1/79u3TsWPH1Nvbq/LycvX399tjFi9erLa2NjU2NqqxsVFtbW2qrKx8gJsKAABGk4he2NvY2BhyeceOHUpPT1dra6ueeeYZe7vL5ZLH47njPrq7u7V9+3bt3r1bc+fOlSQ1NDQoOztbhw8fVmlpqc6ePavGxkYdP35cBQUFkqRt27apqKhI586d02OPPRbRjQQAAKPPA52d1N3dLUlKTU0N2f7FF18oPT1djzzyiGbNmqU//vGPSk9PlyS1trYqGAzK6/Xa47OyspSXl6eWlhaVlpbqyy+/lNvttgNGkgoLC+V2u9XS0nLHiAkEAgoEAvblnp4eSVIwGFQwGHyQmxlmcH8jvV8MT7ythyvBivUUIsZ9ZHRjPeIPazK0SH4mw44Yy7JUXV2tp556Snl5efb2srIy/f73v1dOTo7a29v1xhtv6LnnnlNra6tcLpf8fr/Gjx+vyZMnh+wvIyNDfr9fkuT3++3o+bn09HR7zO1qa2u1cePGsO1NTU1KSkoa7s28q+bm5qjsF8MTL+ux6clYzyBytz/lO1LiZU3wE9Yj/rAm4W7evHnfY4cdMatWrdI333yjY8eOhWxftGiR/XleXp5mzpypnJwcHThwQAsWLBhyf5ZlyeFw2Jd//vlQY35u/fr1qq6uti/39PQoOztbXq9XKSkp93277kcwGFRzc7NKSkrkdDpHdN+IXLytR57vUKynELHTvtIR3V+8rclYx3rEH9ZkaIPPpNyPYUXM6tWr9dlnn+no0aN69NFH7zo2MzNTOTk5On/+vCTJ4/Gor69PXV1dIUdjOjs7VVxcbI+5cuVK2L6+//57ZWRk3PH7uFwuuVyusO1OpzNqvyDR3DciFy/rEei/c2jHM+4jYwPrEX9Yk3CR/DwiOjvJsiytWrVKH3/8sT7//HPl5ube82uuXr2qS5cuKTMzU5I0Y8YMOZ3OkENoHR0dOn36tB0xRUVF6u7u1ldffWWPOXHihLq7u+0xAABgbIvoSMzKlSu1d+9effrpp0pOTrZfn+J2uzVx4kT19vbK5/PpxRdfVGZmpi5cuKDXX39daWlpeuGFF+yxy5Yt09q1azVlyhSlpqZq3bp1ys/Pt89Wmj59uubNm6fly5fr/ffflyS99NJLKi8v58wkAAAgKcKIee+99yRJs2fPDtm+Y8cOLV26VAkJCTp16pQ+/PBDXbt2TZmZmXr22Wf10UcfKTk52R6/ZcsWJSYmauHChbp165bmzJmjnTt3KiEhwR6zZ88erVmzxj6LqaKiQvX19cO9nQAAYJSJKGIs6+6njk6cOFGHDt37RY0TJkxQXV2d6urqhhyTmpqqhoaGSKYHAADGEN7FGnHtft4R2pVgadOTP50VZOKLagEAw8MbQAIAACMRMQAAwEhEDAAAMBIRAwAAjETEAAAAIxExAADASEQMAAAwEhEDAACMRMQAAAAjETEAAMBIRAwAADASEQMAAIxExAAAACMRMQAAwEhEDAAAMBIRAwAAjETEAAAAIxExAADASEQMAAAwEhEDAACMRMQAAAAjETEAAMBIRAwAADASEQMAAIxExAAAACMRMQAAwEhEDAAAMBIRAwAAjETEAAAAIxExAADASEQMAAAwEhEDAACMRMQAAAAjETEAAMBIRAwAADASEQMAAIxExAAAACMRMQAAwEhEDAAAMBIRAwAAjETEAAAAIxExAADASEQMAAAwEhEDAACMRMQAAAAjETEAAMBIRAwAADASEQMAAIxExAAAACMRMQAAwEhEDAAAMBIRAwAAjETEAAAAIxExAADASEQMAAAwEhEDAACMRMQAAAAjJUYyuLa2Vh9//LH++7//WxMnTlRxcbH+7d/+TY899pg9xrIsbdy4UR988IG6urpUUFCgP//5z3r88cftMYFAQOvWrdN//ud/6tatW5ozZ47effddPfroo/aYrq4urVmzRp999pkkqaKiQnV1dXrkkUce8CYDuN0vXzswovtzJVja9KSU5zukQL9jRPc96MI7v4vKfgGYI6IjMUeOHNHKlSt1/PhxNTc368cff5TX69WNGzfsMZs2bdLmzZtVX1+vkydPyuPxqKSkRNevX7fHVFVVaf/+/dq3b5+OHTum3t5elZeXq7+/3x6zePFitbW1qbGxUY2NjWpra1NlZeUI3GQAADAaRHQkprGxMeTyjh07lJ6ertbWVj3zzDOyLEtbt27Vhg0btGDBAknSrl27lJGRob1792rFihXq7u7W9u3btXv3bs2dO1eS1NDQoOzsbB0+fFilpaU6e/asGhsbdfz4cRUUFEiStm3bpqKiIp07dy7kyA8AABibIoqY23V3d0uSUlNTJUnt7e3y+/3yer32GJfLpVmzZqmlpUUrVqxQa2urgsFgyJisrCzl5eWppaVFpaWl+vLLL+V2u+2AkaTCwkK53W61tLTcMWICgYACgYB9uaenR5IUDAYVDAYf5GaGGdzfSO8X4VwJ1r3HjLNC/ovYexhrwv3v/vGYFX9Yk6FF8jMZdsRYlqXq6mo99dRTysvLkyT5/X5JUkZGRsjYjIwMfffdd/aY8ePHa/LkyWFjBr/e7/crPT097Hump6fbY25XW1urjRs3hm1vampSUlJShLfu/jQ3N0dlv/j/Nj15/2PfmjkQvYlgWKK5JgcPHozavkcrHrPiD2sS7ubNm/c9dtgRs2rVKn3zzTc6duxY2HUOR+gL+SzLCtt2u9vH3Gn83fazfv16VVdX25d7enqUnZ0tr9erlJSUu37vSAWDQTU3N6ukpEROp3NE941Qeb5D9xzjGmfprZkDeuPrcQoMROdFpIjMw1iT077SqOx3NOIxK/6wJkMbfCblfgwrYlavXq3PPvtMR48eDTmjyOPxSPrpSEpmZqa9vbOz0z464/F41NfXp66urpCjMZ2dnSouLrbHXLlyJez7fv/992FHeQa5XC65XK6w7U6nM2q/INHcN34SyZktgQFH1M6EwfBEc02470WOx6z4w5qEi+TnEdHZSZZladWqVfr444/1+eefKzc3N+T63NxceTyekMNjfX19OnLkiB0oM2bMkNPpDBnT0dGh06dP22OKiorU3d2tr776yh5z4sQJdXd322MAAMDYFtGRmJUrV2rv3r369NNPlZycbL8+xe12a+LEiXI4HKqqqlJNTY2mTZumadOmqaamRklJSVq8eLE9dtmyZVq7dq2mTJmi1NRUrVu3Tvn5+fbZStOnT9e8efO0fPlyvf/++5Kkl156SeXl5ZyZBAAAJEUYMe+9954kafbs2SHbd+zYoaVLl0qSXn31Vd26dUuvvPKK/cfumpqalJycbI/fsmWLEhMTtXDhQvuP3e3cuVMJCQn2mD179mjNmjX2WUwVFRWqr68fzm0EAACjUEQRY1n3Pl3S4XDI5/PJ5/MNOWbChAmqq6tTXV3dkGNSU1PV0NAQyfQAAMAYwnsnAQAAIxExAADASEQMAAAwEhEDAACMRMQAAAAjETEAAMBIRAwAADASEQMAAIxExAAAACMRMQAAwEhEDAAAMBIRAwAAjETEAAAAIxExAADASEQMAAAwEhEDAACMRMQAAAAjETEAAMBIRAwAADASEQMAAIxExAAAACMRMQAAwEhEDAAAMBIRAwAAjETEAAAAIxExAADASEQMAAAwEhEDAACMRMQAAAAjETEAAMBIRAwAADASEQMAAIxExAAAACMRMQAAwEhEDAAAMBIRAwAAjETEAAAAIyXGegJ4eH752oFYTwEAgBHDkRgAAGAkIgYAABiJiAEAAEYiYgAAgJGIGAAAYCQiBgAAGImIAQAARiJiAACAkYgYAABgJCIGAAAYiYgBAABGImIAAICRiBgAAGAkIgYAABiJiAEAAEYiYgAAgJGIGAAAYCQiBgAAGImIAQAARiJiAACAkSKOmKNHj2r+/PnKysqSw+HQJ598EnL90qVL5XA4Qj4KCwtDxgQCAa1evVppaWmaNGmSKioqdPny5ZAxXV1dqqyslNvtltvtVmVlpa5duxbxDQQAAKNTxBFz48YNPfHEE6qvrx9yzLx589TR0WF/HDx4MOT6qqoq7d+/X/v27dOxY8fU29ur8vJy9ff322MWL16strY2NTY2qrGxUW1tbaqsrIx0ugAAYJRKjPQLysrKVFZWdtcxLpdLHo/njtd1d3dr+/bt2r17t+bOnStJamhoUHZ2tg4fPqzS0lKdPXtWjY2NOn78uAoKCiRJ27ZtU1FRkc6dO6fHHnss0mkDAIBRJuKIuR9ffPGF0tPT9cgjj2jWrFn64x//qPT0dElSa2urgsGgvF6vPT4rK0t5eXlqaWlRaWmpvvzyS7ndbjtgJKmwsFBut1stLS13jJhAIKBAIGBf7unpkSQFg0EFg8ERvX2D+xvp/UabK8GK9RSiwjXOCvkvYu9hrIlp979YMvUxazRjTYYWyc9kxCOmrKxMv//975WTk6P29na98cYbeu6559Ta2iqXyyW/36/x48dr8uTJIV+XkZEhv98vSfL7/Xb0/Fx6ero95na1tbXauHFj2PampiYlJSWNwC0L19zcHJX9RsumJ2M9g+h6a+ZArKeA20RzTW5/mhr3Ztpj1ljAmoS7efPmfY8d8YhZtGiR/XleXp5mzpypnJwcHThwQAsWLBjy6yzLksPhsC///POhxvzc+vXrVV1dbV/u6elRdna2vF6vUlJShnNThhQMBtXc3KySkhI5nc4R3Xc05fkOxXoKUeEaZ+mtmQN64+txCgzc+fcDD9fDWJPTvtKo7Hc0MvUxazRjTYY2+EzK/YjK00k/l5mZqZycHJ0/f16S5PF41NfXp66urpCjMZ2dnSouLrbHXLlyJWxf33//vTIyMu74fVwul1wuV9h2p9MZtV+QaO47GgL9o/sf+MCAY9TfRtNEc01Muu/FC9Mes8YC1iRcJD+PqP+dmKtXr+rSpUvKzMyUJM2YMUNOpzPkEFpHR4dOnz5tR0xRUZG6u7v11Vdf2WNOnDih7u5uewwAABjbIj4S09vbq2+//da+3N7erra2NqWmpio1NVU+n08vvviiMjMzdeHCBb3++utKS0vTCy+8IElyu91atmyZ1q5dqylTpig1NVXr1q1Tfn6+fbbS9OnTNW/ePC1fvlzvv/++JOmll15SeXk5ZyYBAABJw4iYr7/+Ws8++6x9efB1KEuWLNF7772nU6dO6cMPP9S1a9eUmZmpZ599Vh999JGSk5Ptr9myZYsSExO1cOFC3bp1S3PmzNHOnTuVkJBgj9mzZ4/WrFljn8VUUVFx179NAwAAxpaII2b27NmyrKFPmzx06N4vHp0wYYLq6upUV1c35JjU1FQ1NDREOj0AADBG8N5JAADASEQMAAAwEhEDAACMRMQAAAAjETEAAMBIRAwAADASEQMAAIxExAAAACMRMQAAwEhEDAAAMBIRAwAAjETEAAAAIxExAADASEQMAAAwEhEDAACMRMQAAAAjETEAAMBIRAwAADASEQMAAIxExAAAACMRMQAAwEhEDAAAMBIRAwAAjETEAAAAIxExAADASEQMAAAwEhEDAACMRMQAAAAjETEAAMBIRAwAADASEQMAAIxExAAAACMRMQAAwEhEDAAAMBIRAwAAjETEAAAAIxExAADASEQMAAAwEhEDAACMRMQAAAAjETEAAMBIRAwAADASEQMAAIxExAAAACMRMQAAwEhEDAAAMBIRAwAAjETEAAAAIyXGegIAMBy/fO1ArKcQsQvv/C7WUwBGFY7EAAAAIxExAADASEQMAAAwEhEDAACMRMQAAAAjETEAAMBIRAwAADASEQMAAIxExAAAACNFHDFHjx7V/PnzlZWVJYfDoU8++STkesuy5PP5lJWVpYkTJ2r27Nk6c+ZMyJhAIKDVq1crLS1NkyZNUkVFhS5fvhwypqurS5WVlXK73XK73aqsrNS1a9civoEAAGB0ijhibty4oSeeeEL19fV3vH7Tpk3avHmz6uvrdfLkSXk8HpWUlOj69ev2mKqqKu3fv1/79u3TsWPH1Nvbq/LycvX399tjFi9erLa2NjU2NqqxsVFtbW2qrKwcxk0EAACjUcTvnVRWVqaysrI7XmdZlrZu3aoNGzZowYIFkqRdu3YpIyNDe/fu1YoVK9Td3a3t27dr9+7dmjt3riSpoaFB2dnZOnz4sEpLS3X27Fk1Njbq+PHjKigokCRt27ZNRUVFOnfunB577LHh3l4AADBKjOgbQLa3t8vv98vr9drbXC6XZs2apZaWFq1YsUKtra0KBoMhY7KyspSXl6eWlhaVlpbqyy+/lNvttgNGkgoLC+V2u9XS0nLHiAkEAgoEAvblnp4eSVIwGFQwGBzJm2nvb6T3G22uBCvWU4gK1zgr5L+IPdbkzmL1mGHqY9ZoxpoMLZKfyYhGjN/vlyRlZGSEbM/IyNB3331njxk/frwmT54cNmbw6/1+v9LT08P2n56ebo+5XW1trTZu3Bi2vampSUlJSZHfmPvQ3Nwclf1Gy6YnYz2D6Hpr5kCsp4DbsCahDh48GNPvb9pj1ljAmoS7efPmfY8d0YgZ5HA4Qi5blhW27Xa3j7nT+LvtZ/369aqurrYv9/T0KDs7W16vVykpKZFM/56CwaCam5tVUlIip9M5ovuOpjzfoVhPISpc4yy9NXNAb3w9ToGBu/+e4eFgTe7stK80Jt/X1Mes0Yw1GdrgMyn3Y0QjxuPxSPrpSEpmZqa9vbOz0z464/F41NfXp66urpCjMZ2dnSouLrbHXLlyJWz/33//fdhRnkEul0sulytsu9PpjNovSDT3HQ2B/tH9j0lgwDHqb6NpWJNQsX68MO0xayxgTcJF8vMY0b8Tk5ubK4/HE3J4rK+vT0eOHLEDZcaMGXI6nSFjOjo6dPr0aXtMUVGRuru79dVXX9ljTpw4oe7ubnsMAAAY2yI+EtPb26tvv/3Wvtze3q62tjalpqZq6tSpqqqqUk1NjaZNm6Zp06appqZGSUlJWrx4sSTJ7XZr2bJlWrt2raZMmaLU1FStW7dO+fn59tlK06dP17x587R8+XK9//77kqSXXnpJ5eXlnJkEAAAkDSNivv76az377LP25cHXoSxZskQ7d+7Uq6++qlu3bumVV15RV1eXCgoK1NTUpOTkZPtrtmzZosTERC1cuFC3bt3SnDlztHPnTiUkJNhj9uzZozVr1thnMVVUVAz5t2kAAMDYE3HEzJ49W5Y19GmTDodDPp9PPp9vyDETJkxQXV2d6urqhhyTmpqqhoaGSKcHAADGCN47CQAAGImIAQAARiJiAACAkYgYAABgJCIGAAAYKSpvOzBW5PkO8ddIAQCIEY7EAAAAIxExAADASEQMAAAwEhEDAACMRMQAAAAjETEAAMBIRAwAADASEQMAAIxExAAAACMRMQAAwEhEDAAAMBIRAwAAjETEAAAAIxExAADASEQMAAAwEhEDAACMRMQAAAAjETEAAMBIRAwAADASEQMAAIxExAAAACMRMQAAwEhEDAAAMBIRAwAAjETEAAAAIxExAADASEQMAAAwEhEDAACMRMQAAAAjETEAAMBIRAwAADASEQMAAIxExAAAACMRMQAAwEhEDAAAMBIRAwAAjETEAAAAIxExAADASEQMAAAwEhEDAACMRMQAAAAjETEAAMBIRAwAADASEQMAAIxExAAAACMRMQAAwEhEDAAAMBIRAwAAjETEAAAAIxExAADASEQMAAAwEhEDAACMNOIR4/P55HA4Qj48Ho99vWVZ8vl8ysrK0sSJEzV79mydOXMmZB+BQECrV69WWlqaJk2apIqKCl2+fHmkpwoAAAwWlSMxjz/+uDo6OuyPU6dO2ddt2rRJmzdvVn19vU6ePCmPx6OSkhJdv37dHlNVVaX9+/dr3759OnbsmHp7e1VeXq7+/v5oTBcAABgoMSo7TUwMOfoyyLIsbd26VRs2bNCCBQskSbt27VJGRob27t2rFStWqLu7W9u3b9fu3bs1d+5cSVJDQ4Oys7N1+PBhlZaWRmPKAADAMFGJmPPnzysrK0sul0sFBQWqqanRP/zDP6i9vV1+v19er9ce63K5NGvWLLW0tGjFihVqbW1VMBgMGZOVlaW8vDy1tLQMGTGBQECBQMC+3NPTI0kKBoMKBoMjevsG9+caZ43ofjE8g+vAesQP1uTORvqxKNLvG6vvj3CsydAi+ZmMeMQUFBToww8/1K9//WtduXJFb7/9toqLi3XmzBn5/X5JUkZGRsjXZGRk6LvvvpMk+f1+jR8/XpMnTw4bM/j1d1JbW6uNGzeGbW9qalJSUtKD3qw7emvmQFT2i+FhPeIPaxLq4MGDMf3+zc3NMf3+CMeahLt58+Z9jx3xiCkrK7M/z8/PV1FRkX71q19p165dKiwslCQ5HI6Qr7EsK2zb7e41Zv369aqurrYv9/T0KDs7W16vVykpKcO5KUMKBoNqbm7WG1+PU2Dg7vNG9LnGWXpr5gDrEUdYkzs77YvN0+GDj1klJSVyOp0xmQNCsSZDG3wm5X5E5emkn5s0aZLy8/N1/vx5Pf/885J+OtqSmZlpj+ns7LSPzng8HvX19amrqyvkaExnZ6eKi4uH/D4ul0sulytsu9PpjNovSGDAoUA/D9DxgvWIP6xJqFj/YxXNx0MMD2sSLpKfR9T/TkwgENDZs2eVmZmp3NxceTyekMNnfX19OnLkiB0oM2bMkNPpDBnT0dGh06dP3zViAADA2DLiR2LWrVun+fPna+rUqers7NTbb7+tnp4eLVmyRA6HQ1VVVaqpqdG0adM0bdo01dTUKCkpSYsXL5Ykud1uLVu2TGvXrtWUKVOUmpqqdevWKT8/3z5bCQAAYMQj5vLly/rnf/5n/fDDD/rFL36hwsJCHT9+XDk5OZKkV199Vbdu3dIrr7yirq4uFRQUqKmpScnJyfY+tmzZosTERC1cuFC3bt3SnDlztHPnTiUkJIz0dAHgofnlawdi8n1dCZY2PSnl+Q5F/PTehXd+F6VZAQ9uxCNm3759d73e4XDI5/PJ5/MNOWbChAmqq6tTXV3dCM8OAACMFrx3EgAAMBIRAwAAjETEAAAAIxExAADASEQMAAAwEhEDAACMRMQAAAAjETEAAMBIRAwAADASEQMAAIxExAAAACMRMQAAwEhEDAAAMBIRAwAAjETEAAAAIxExAADASEQMAAAwEhEDAACMRMQAAAAjETEAAMBIRAwAADASEQMAAIxExAAAACMRMQAAwEhEDAAAMBIRAwAAjETEAAAAIxExAADASEQMAAAwEhEDAACMRMQAAAAjETEAAMBIRAwAADASEQMAAIxExAAAACMRMQAAwEhEDAAAMBIRAwAAjETEAAAAIxExAADASEQMAAAwEhEDAACMRMQAAAAjETEAAMBIRAwAADASEQMAAIyUGOsJAADi1y9fOxDrKUTswju/i/UU8JBwJAYAABiJiAEAAEYiYgAAgJGIGAAAYCQiBgAAGImIAQAARiJiAACAkYgYAABgJCIGAAAYiYgBAABGImIAAICR4v69k9599139+7//uzo6OvT4449r69atevrpp2M9LQBAnDLh/Z5cCZY2PSnl+Q4p0O+QxHs+DUdcH4n56KOPVFVVpQ0bNuivf/2rnn76aZWVlenixYuxnhoAAIixuI6YzZs3a9myZfqXf/kXTZ8+XVu3blV2drbee++9WE8NAADEWNw+ndTX16fW1la99tprIdu9Xq9aWlrCxgcCAQUCAftyd3e3JOnvf/+7gsHgiM4tGAzq5s2bSgyOU/+AY0T3jcglDli6eXOA9YgjrEl8YT3iz53W5P+s+78xnlXkTqyfM+L7vH79uiTJsqx7jo3biPnhhx/U39+vjIyMkO0ZGRny+/1h42tra7Vx48aw7bm5uVGbI+LH4lhPAGFYk/jCesSf0bAmaX+K3r6vX78ut9t91zFxGzGDHI7Q/2uwLCtsmyStX79e1dXV9uWBgQH9/e9/15QpU+44/kH09PQoOztbly5dUkpKyojuG5FjPeIPaxJfWI/4w5oMzbIsXb9+XVlZWfccG7cRk5aWpoSEhLCjLp2dnWFHZyTJ5XLJ5XKFbHvkkUeiOUWlpKTwyxdHWI/4w5rEF9Yj/rAmd3avIzCD4vaFvePHj9eMGTPU3Nwcsr25uVnFxcUxmhUAAIgXcXskRpKqq6tVWVmpmTNnqqioSB988IEuXryol19+OdZTAwAAMRbXEbNo0SJdvXpV//qv/6qOjg7l5eXp4MGDysnJiem8XC6X3nzzzbCnrxAbrEf8YU3iC+sRf1iTkeGw7uccJgAAgDgTt6+JAQAAuBsiBgAAGImIAQAARiJiAACAkYiYCL377rvKzc3VhAkTNGPGDP3Xf/1XrKc0Zvl8PjkcjpAPj8cT62mNGUePHtX8+fOVlZUlh8OhTz75JOR6y7Lk8/mUlZWliRMnavbs2Tpz5kxsJjtG3GtNli5dGnafKSwsjM1kx4Da2lr99re/VXJystLT0/X888/r3LlzIWO4nzwYIiYCH330kaqqqrRhwwb99a9/1dNPP62ysjJdvHgx1lMbsx5//HF1dHTYH6dOnYr1lMaMGzdu6IknnlB9ff0dr9+0aZM2b96s+vp6nTx5Uh6PRyUlJfabu2Hk3WtNJGnevHkh95mDBw8+xBmOLUeOHNHKlSt1/PhxNTc368cff5TX69WNGzfsMdxPHpCF+/bkk09aL7/8csi23/zmN9Zrr70WoxmNbW+++ab1xBNPxHoasCxLkrV//3778sDAgOXxeKx33nnH3va///u/ltvttv7jP/4jBjMce25fE8uyrCVLllj/9E//FJP5wLI6OzstSdaRI0csy+J+MhI4EnOf+vr61NraKq/XG7Ld6/WqpaUlRrPC+fPnlZWVpdzcXP3hD3/Q//zP/8R6SpDU3t4uv98fcn9xuVyaNWsW95cY++KLL5Senq5f//rXWr58uTo7O2M9pTGju7tbkpSamiqJ+8lIIGLu0w8//KD+/v6wN5/MyMgIe5NKPBwFBQX68MMPdejQIW3btk1+v1/FxcW6evVqrKc25g3eJ7i/xJeysjLt2bNHn3/+uf70pz/p5MmTeu655xQIBGI9tVHPsixVV1frqaeeUl5eniTuJyMhrt92IB45HI6Qy5ZlhW3Dw1FWVmZ/np+fr6KiIv3qV7/Srl27VF1dHcOZYRD3l/iyaNEi+/O8vDzNnDlTOTk5OnDggBYsWBDDmY1+q1at0jfffKNjx46FXcf9ZPg4EnOf0tLSlJCQEFbHnZ2dYRWN2Jg0aZLy8/N1/vz5WE9lzBs8S4z7S3zLzMxUTk4O95koW716tT777DP95S9/0aOPPmpv537y4IiY+zR+/HjNmDFDzc3NIdubm5tVXFwco1nh5wKBgM6ePavMzMxYT2XMy83NlcfjCbm/9PX16ciRI9xf4sjVq1d16dIl7jNRYlmWVq1apY8//liff/65cnNzQ67nfvLgeDopAtXV1aqsrNTMmTNVVFSkDz74QBcvXtTLL78c66mNSevWrdP8+fM1depUdXZ26u2331ZPT4+WLFkS66mNCb29vfr222/ty+3t7Wpra1NqaqqmTp2qqqoq1dTUaNq0aZo2bZpqamqUlJSkxYsXx3DWo9vd1iQ1NVU+n08vvviiMjMzdeHCBb3++utKS0vTCy+8EMNZj14rV67U3r179emnnyo5Odk+4uJ2uzVx4kQ5HA7uJw8qpudGGejPf/6zlZOTY40fP976x3/8R/tUOTx8ixYtsjIzMy2n02llZWVZCxYssM6cORPraY0Zf/nLXyxJYR9LliyxLOun00fffPNNy+PxWC6Xy3rmmWesU6dOxXbSo9zd1uTmzZuW1+u1fvGLX1hOp9OaOnWqtWTJEuvixYuxnvaodae1kGTt2LHDHsP95ME4LMuyHn46AQAAPBheEwMAAIxExAAAACMRMQAAwEhEDAAAMBIRAwAAjETEAAAAIxExAADASEQMAAAwEhEDAACMRMQAAAAjETEAAMBIRAwAADDS/wMTmMF8ZQ/WqAAAAABJRU5ErkJggg==",
      "text/plain": [
       "<Figure size 640x480 with 1 Axes>"
      ]
     },
     "metadata": {},
     "output_type": "display_data"
    }
   ],
   "source": [
    "df_b['av_site visit'].hist()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 35,
   "id": "54ed7c35",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "TtestResult(statistic=-10.957295422202266, pvalue=7.548128551839558e-28, df=17530.29639618072)"
      ]
     },
     "execution_count": 35,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "st.ttest_ind(df_a['av_site visit'], df_b['av_site visit'], equal_var=False)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 36,
   "id": "1e38fe2a",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "MannwhitneyuResult(statistic=63190248.0, pvalue=6.651555853367293e-15)"
      ]
     },
     "execution_count": 36,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "st.mannwhitneyu(df_a['av_site visit'], df_b['av_site visit'])"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 37,
   "id": "061f95dd",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "(6.980379496709522, 7.404806266947357)"
      ]
     },
     "execution_count": 37,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df_a['av_site visit'].mean(), df_b['av_site visit'].mean()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 38,
   "id": "3f6b84aa",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "<Axes: >"
      ]
     },
     "execution_count": 38,
     "metadata": {},
     "output_type": "execute_result"
    },
    {
     "data": {
      "image/png": "iVBORw0KGgoAAAANSUhEUgAAAjoAAAGdCAYAAAAbudkLAAAAOXRFWHRTb2Z0d2FyZQBNYXRwbG90bGliIHZlcnNpb24zLjcuMiwgaHR0cHM6Ly9tYXRwbG90bGliLm9yZy8pXeV/AAAACXBIWXMAAA9hAAAPYQGoP6dpAAAvxElEQVR4nO3df3BV9Z3/8VfIj0uSDVeSTHK5NWicYRENKhs0BN1CF0hwCdkOs6UaDDhlARcF00ARSt0GWxLFCswmKyLLiGNg4+wormvZfBNWi80kEAym5VdRpyk/lBCq4QYM3lyT8/3DyZleTkDC3ivmk+djhpnec973nPN5TcBXz81JIizLsgQAAGCgIdf7AgAAAMKFogMAAIxF0QEAAMai6AAAAGNRdAAAgLEoOgAAwFgUHQAAYCyKDgAAMFbU9b6A66mnp0effPKJEhISFBERcb0vBwAAXAXLsnT+/Hl5vV4NGXLlezaDuuh88sknSktLu96XAQAArsHJkyd14403XnFmUBedhIQESV8FNWzYsJAeOxAIqKamRjk5OYqOjg7psQcqMnEiEycycSKTvpGL02DJpKOjQ2lpafZ/x69kUBed3o+rhg0bFpaiExcXp2HDhhn9xdYfZOJEJk5k4kQmfSMXp8GWydV82wnfjAwAAIxF0QEAAMai6AAAAGNRdAAAgLEoOgAAwFj9LjrvvvuuZs6cKa/Xq4iICL3xxhv2vkAgoCeeeEJjx45VfHy8vF6v5s6dq08++SToGH6/X0uWLFFycrLi4+OVn5+vU6dOBc20t7ersLBQbrdbbrdbhYWFOnfuXNDMiRMnNHPmTMXHxys5OVlLly5VV1dXf5cEAAAM1e+i8/nnn+vOO+9URUWFY19nZ6cOHDigJ598UgcOHNDrr7+uDz74QPn5+UFzRUVF2rlzp6qqqlRXV6cLFy4oLy9P3d3d9kxBQYGam5tVXV2t6upqNTc3q7Cw0N7f3d2tGTNm6PPPP1ddXZ2qqqr02muvadmyZf1dEgAAMFS/f47O/fffr/vvv7/PfW63W7W1tUHbysvLdc899+jEiRMaOXKkfD6ftm7dqldeeUVTp06VJFVWViotLU27d+9Wbm6ujh49qurqau3du1dZWVmSpC1btig7O1vHjh3T6NGjVVNToyNHjujkyZPyer2SpOeee04PP/yw1q5dG/KfiwMAAAaesP/AQJ/Pp4iICN1www2SpKamJgUCAeXk5NgzXq9XGRkZqq+vV25urhoaGuR2u+2SI0kTJkyQ2+1WfX29Ro8erYaGBmVkZNglR5Jyc3Pl9/vV1NSk733ve45r8fv98vv99uuOjg5JX33kFggEQrru3uOF+rgDGZk4kYkTmTiRSd/IxWmwZNKf9YW16HzxxRdauXKlCgoK7Dssra2tiomJ0fDhw4NmU1NT1draas+kpKQ4jpeSkhI0k5qaGrR/+PDhiomJsWcuVVZWpjVr1ji219TUKC4urv8LvAqX3uECmfSFTJzIxIlM+kYuTqZn0tnZedWzYSs6gUBADzzwgHp6evT8889/7bxlWUE/yrmvH+t8LTN/adWqVSouLrZf9/6ujJycnLD8Coja2lpNmzZtUPwY7qtBJk5k4kQmTmTSN3JxGiyZ9H4iczXCUnQCgYBmz56tlpYWvf3220ElwuPxqKurS+3t7UF3ddra2jRx4kR75syZM47jnj171r6L4/F4tG/fvqD97e3tCgQCjjs9vVwul1wul2N7dHR02L4gwnnsgYpMnMjEiUycyKRv5OJkeib9WVvIf45Ob8n58MMPtXv3biUlJQXtz8zMVHR0dNBttdOnT+vQoUN20cnOzpbP51NjY6M9s2/fPvl8vqCZQ4cO6fTp0/ZMTU2NXC6XMjMzQ70sAAAwAPX7js6FCxf00Ucf2a9bWlrU3NysxMREeb1e/eM//qMOHDigt956S93d3fb3yyQmJiomJkZut1vz58/XsmXLlJSUpMTERC1fvlxjx461n8IaM2aMpk+frgULFmjz5s2SpIULFyovL0+jR4+WJOXk5Oi2225TYWGhnn32WX322Wdavny5FixYwBNXAABA0jUUnffeey/oiabe73mZN2+eSkpK9Oabb0qS7rrrrqD3vfPOO5o8ebIkacOGDYqKitLs2bN18eJFTZkyRdu2bVNkZKQ9v337di1dutR+Ois/Pz/oZ/dERkbq17/+tRYvXqx7771XsbGxKigo0K9+9av+LimsMkr+n/zdX/9r5L8t/vT0jOt9CQAAhEy/i87kyZNlWdZl919pX6+hQ4eqvLxc5eXll51JTExUZWXlFY8zcuRIvfXWW197PgAAMDjxu64AAICxKDoAAMBYFB0AAGAsig4AADAWRQcAABiLogMAAIxF0QEAAMai6AAAAGNRdAAAgLEoOgAAwFgUHQAAYCyKDgAAMBZFBwAAGIuiAwAAjEXRAQAAxqLoAAAAY1F0AACAsSg6AADAWBQdAABgLIoOAAAwFkUHAAAYi6IDAACMRdEBAADGougAAABjUXQAAICxKDoAAMBYFB0AAGAsig4AADAWRQcAABiLogMAAIxF0QEAAMai6AAAAGNRdAAAgLEoOgAAwFgUHQAAYCyKDgAAMBZFBwAAGIuiAwAAjEXRAQAAxqLoAAAAY1F0AACAsSg6AADAWBQdAABgLIoOAAAwFkUHAAAYi6IDAACMRdEBAADGougAAABj9bvovPvuu5o5c6a8Xq8iIiL0xhtvBO23LEslJSXyer2KjY3V5MmTdfjw4aAZv9+vJUuWKDk5WfHx8crPz9epU6eCZtrb21VYWCi32y23263CwkKdO3cuaObEiROaOXOm4uPjlZycrKVLl6qrq6u/SwIAAIbqd9H5/PPPdeedd6qioqLP/evWrdP69etVUVGh/fv3y+PxaNq0aTp//rw9U1RUpJ07d6qqqkp1dXW6cOGC8vLy1N3dbc8UFBSoublZ1dXVqq6uVnNzswoLC+393d3dmjFjhj7//HPV1dWpqqpKr732mpYtW9bfJQEAAENF9fcN999/v+6///4+91mWpY0bN2r16tWaNWuWJOnll19WamqqduzYoUWLFsnn82nr1q165ZVXNHXqVElSZWWl0tLStHv3buXm5uro0aOqrq7W3r17lZWVJUnasmWLsrOzdezYMY0ePVo1NTU6cuSITp48Ka/XK0l67rnn9PDDD2vt2rUaNmzYNQUCAADMEdLv0WlpaVFra6tycnLsbS6XS5MmTVJ9fb0kqampSYFAIGjG6/UqIyPDnmloaJDb7bZLjiRNmDBBbrc7aCYjI8MuOZKUm5srv9+vpqamUC4LAAAMUP2+o3Mlra2tkqTU1NSg7ampqTp+/Lg9ExMTo+HDhztmet/f2tqqlJQUx/FTUlKCZi49z/DhwxUTE2PPXMrv98vv99uvOzo6JEmBQECBQOCq13k1eo/nGmKF9LjhFuoc+jp2OM8x0JCJE5k4kUnfyMVpsGTSn/WFtOj0ioiICHptWZZj26Uunelr/lpm/lJZWZnWrFnj2F5TU6O4uLgrXt+1+sX4nrAcN1x27doV9nPU1taG/RwDDZk4kYkTmfSNXJxMz6Szs/OqZ0NadDwej6Sv7raMGDHC3t7W1mbfffF4POrq6lJ7e3vQXZ22tjZNnDjRnjlz5ozj+GfPng06zr59+4L2t7e3KxAIOO709Fq1apWKi4vt1x0dHUpLS1NOTk7Iv6cnEAiotrZWT743RP6eK5e8b5NDJblhO3ZvJtOmTVN0dHTYzjOQkIkTmTiRSd/IxWmwZNL7iczVCGnRSU9Pl8fjUW1trcaNGydJ6urq0p49e/TMM89IkjIzMxUdHa3a2lrNnj1bknT69GkdOnRI69atkyRlZ2fL5/OpsbFR99xzjyRp37598vl8dhnKzs7W2rVrdfr0abtU1dTUyOVyKTMzs8/rc7lccrlcju3R0dFh+4Lw90TI3z1wis438RcjnHkPVGTiRCZOZNI3cnEyPZP+rK3fRefChQv66KOP7NctLS1qbm5WYmKiRo4cqaKiIpWWlmrUqFEaNWqUSktLFRcXp4KCAkmS2+3W/PnztWzZMiUlJSkxMVHLly/X2LFj7aewxowZo+nTp2vBggXavHmzJGnhwoXKy8vT6NGjJUk5OTm67bbbVFhYqGeffVafffaZli9frgULFvDEFQAAkHQNRee9997T9773Pft170dB8+bN07Zt27RixQpdvHhRixcvVnt7u7KyslRTU6OEhAT7PRs2bFBUVJRmz56tixcvasqUKdq2bZsiIyPtme3bt2vp0qX201n5+flBP7snMjJSv/71r7V48WLde++9io2NVUFBgX71q1/1PwUAAGCkfhedyZMny7Iu/yRRRESESkpKVFJSctmZoUOHqry8XOXl5ZedSUxMVGVl5RWvZeTIkXrrrbe+9poBAMDgxO+6AgAAxqLoAAAAY1F0AACAsSg6AADAWBQdAABgLIoOAAAwFkUHAAAYi6IDAACMRdEBAADGougAAABjUXQAAICxKDoAAMBYFB0AAGAsig4AADAWRQcAABiLogMAAIxF0QEAAMai6AAAAGNRdAAAgLEoOgAAwFgUHQAAYCyKDgAAMBZFBwAAGIuiAwAAjEXRAQAAxqLoAAAAY1F0AACAsSg6AADAWBQdAABgLIoOAAAwFkUHAAAYi6IDAACMRdEBAADGougAAABjUXQAAICxKDoAAMBYFB0AAGAsig4AADAWRQcAABiLogMAAIxF0QEAAMai6AAAAGNRdAAAgLEoOgAAwFgUHQAAYCyKDgAAMBZFBwAAGIuiAwAAjEXRAQAAxgp50fnyyy/1s5/9TOnp6YqNjdUtt9yip556Sj09PfaMZVkqKSmR1+tVbGysJk+erMOHDwcdx+/3a8mSJUpOTlZ8fLzy8/N16tSpoJn29nYVFhbK7XbL7XarsLBQ586dC/WSAADAABXyovPMM8/ohRdeUEVFhY4ePap169bp2WefVXl5uT2zbt06rV+/XhUVFdq/f788Ho+mTZum8+fP2zNFRUXauXOnqqqqVFdXpwsXLigvL0/d3d32TEFBgZqbm1VdXa3q6mo1NzersLAw1EsCAAADVFSoD9jQ0KB/+Id/0IwZMyRJN998s/7jP/5D7733nqSv7uZs3LhRq1ev1qxZsyRJL7/8slJTU7Vjxw4tWrRIPp9PW7du1SuvvKKpU6dKkiorK5WWlqbdu3crNzdXR48eVXV1tfbu3ausrCxJ0pYtW5Sdna1jx45p9OjRoV4aAAAYYEJedO677z698MIL+uCDD/TXf/3X+t3vfqe6ujpt3LhRktTS0qLW1lbl5OTY73G5XJo0aZLq6+u1aNEiNTU1KRAIBM14vV5lZGSovr5eubm5amhokNvttkuOJE2YMEFut1v19fV9Fh2/3y+/32+/7ujokCQFAgEFAoGQ5tB7PNcQK6THDbdQ59DXscN5joGGTJzIxIlM+kYuToMlk/6sL+RF54knnpDP59Ott96qyMhIdXd3a+3atXrwwQclSa2trZKk1NTUoPelpqbq+PHj9kxMTIyGDx/umOl9f2trq1JSUhznT0lJsWcuVVZWpjVr1ji219TUKC4urp8rvTq/GN/z9UPfIrt27Qr7OWpra8N+joGGTJzIxIlM+kYuTqZn0tnZedWzIS86r776qiorK7Vjxw7dfvvtam5uVlFRkbxer+bNm2fPRUREBL3PsizHtktdOtPX/JWOs2rVKhUXF9uvOzo6lJaWppycHA0bNuyq1ne1AoGAamtr9eR7Q+TvufK6vk0OleSG7di9mUybNk3R0dFhO89AQiZOZOJEJn0jF6fBkknvJzJXI+RF5yc/+YlWrlypBx54QJI0duxYHT9+XGVlZZo3b548Ho+kr+7IjBgxwn5fW1ubfZfH4/Goq6tL7e3tQXd12traNHHiRHvmzJkzjvOfPXvWcbeol8vlksvlcmyPjo4O2xeEvydC/u6BU3S+ib8Y4cx7oCITJzJxIpO+kYuT6Zn0Z20hf+qqs7NTQ4YEHzYyMtJ+vDw9PV0ejyfotlpXV5f27Nljl5jMzExFR0cHzZw+fVqHDh2yZ7Kzs+Xz+dTY2GjP7Nu3Tz6fz54BAACDW8jv6MycOVNr167VyJEjdfvtt+v999/X+vXr9aMf/UjSVx83FRUVqbS0VKNGjdKoUaNUWlqquLg4FRQUSJLcbrfmz5+vZcuWKSkpSYmJiVq+fLnGjh1rP4U1ZswYTZ8+XQsWLNDmzZslSQsXLlReXh5PXAEAAElhKDrl5eV68skntXjxYrW1tcnr9WrRokX6l3/5F3tmxYoVunjxohYvXqz29nZlZWWppqZGCQkJ9syGDRsUFRWl2bNn6+LFi5oyZYq2bdumyMhIe2b79u1aunSp/XRWfn6+KioqQr0kAAAwQIW86CQkJGjjxo324+R9iYiIUElJiUpKSi47M3ToUJWXlwf9oMFLJSYmqrKy8v9wtQAAwGT8risAAGAsig4AADAWRQcAABiLogMAAIxF0QEAAMai6AAAAGNRdAAAgLEoOgAAwFgUHQAAYCyKDgAAMBZFBwAAGIuiAwAAjEXRAQAAxqLoAAAAY1F0AACAsSg6AADAWBQdAABgLIoOAAAwFkUHAAAYi6IDAACMRdEBAADGougAAABjUXQAAICxKDoAAMBYFB0AAGAsig4AADAWRQcAABiLogMAAIxF0QEAAMai6AAAAGNRdAAAgLEoOgAAwFgUHQAAYCyKDgAAMBZFBwAAGIuiAwAAjEXRAQAAxqLoAAAAY1F0AACAsSg6AADAWBQdAABgLIoOAAAwFkUHAAAYi6IDAACMRdEBAADGougAAABjUXQAAICxKDoAAMBYYSk6H3/8sR566CElJSUpLi5Od911l5qamuz9lmWppKREXq9XsbGxmjx5sg4fPhx0DL/fryVLlig5OVnx8fHKz8/XqVOngmba29tVWFgot9stt9utwsJCnTt3LhxLAgAAA1DIi057e7vuvfdeRUdH63/+53905MgRPffcc7rhhhvsmXXr1mn9+vWqqKjQ/v375fF4NG3aNJ0/f96eKSoq0s6dO1VVVaW6ujpduHBBeXl56u7utmcKCgrU3Nys6upqVVdXq7m5WYWFhaFeEgAAGKCiQn3AZ555RmlpaXrppZfsbTfffLP9vy3L0saNG7V69WrNmjVLkvTyyy8rNTVVO3bs0KJFi+Tz+bR161a98sormjp1qiSpsrJSaWlp2r17t3Jzc3X06FFVV1dr7969ysrKkiRt2bJF2dnZOnbsmEaPHh3qpQEAgAEm5Hd03nzzTY0fP14/+MEPlJKSonHjxmnLli32/paWFrW2tionJ8fe5nK5NGnSJNXX10uSmpqaFAgEgma8Xq8yMjLsmYaGBrndbrvkSNKECRPkdrvtGQAAMLiF/I7OH//4R23atEnFxcX66U9/qsbGRi1dulQul0tz585Va2urJCk1NTXofampqTp+/LgkqbW1VTExMRo+fLhjpvf9ra2tSklJcZw/JSXFnrmU3++X3++3X3d0dEiSAoGAAoHANa64b73Hcw2xQnrccAt1Dn0dO5znGGjIxIlMnMikb+TiNFgy6c/6Ql50enp6NH78eJWWlkqSxo0bp8OHD2vTpk2aO3euPRcRERH0PsuyHNsudelMX/NXOk5ZWZnWrFnj2F5TU6O4uLgrnvta/WJ8T1iOGy67du0K+zlqa2vDfo6BhkycyMSJTPpGLk6mZ9LZ2XnVsyEvOiNGjNBtt90WtG3MmDF67bXXJEkej0fSV3dkRowYYc+0tbXZd3k8Ho+6urrU3t4edFenra1NEydOtGfOnDnjOP/Zs2cdd4t6rVq1SsXFxfbrjo4OpaWlKScnR8OGDbuW5V5WIBBQbW2tnnxviPw9Vy5w3yaHSnLDduzeTKZNm6bo6OiwnWcgIRMnMnEik76Ri9NgyaT3E5mrEfKic++99+rYsWNB2z744APddNNNkqT09HR5PB7V1tZq3LhxkqSuri7t2bNHzzzzjCQpMzNT0dHRqq2t1ezZsyVJp0+f1qFDh7Ru3TpJUnZ2tnw+nxobG3XPPfdIkvbt2yefz2eXoUu5XC65XC7H9ujo6LB9Qfh7IuTvHjhF55v4ixHOvAcqMnEiEycy6Ru5OJmeSX/WFvKi8+Mf/1gTJ05UaWmpZs+ercbGRr344ot68cUXJX31cVNRUZFKS0s1atQojRo1SqWlpYqLi1NBQYEkye12a/78+Vq2bJmSkpKUmJio5cuXa+zYsfZTWGPGjNH06dO1YMECbd68WZK0cOFC5eXl8cQVAACQFIaic/fdd2vnzp1atWqVnnrqKaWnp2vjxo2aM2eOPbNixQpdvHhRixcvVnt7u7KyslRTU6OEhAR7ZsOGDYqKitLs2bN18eJFTZkyRdu2bVNkZKQ9s337di1dutR+Ois/P18VFRWhXhIAABigQl50JCkvL095eXmX3R8REaGSkhKVlJRcdmbo0KEqLy9XeXn5ZWcSExNVWVn5f7lUAABgMH7XFQAAMBZFBwAAGIuiAwAAjEXRAQAAxqLoAAAAY1F0AACAsSg6AADAWBQdAABgLIoOAAAwFkUHAAAYi6IDAACMRdEBAADGougAAABjUXQAAICxKDoAAMBYFB0AAGAsig4AADAWRQcAABiLogMAAIxF0QEAAMai6AAAAGNRdAAAgLEoOgAAwFgUHQAAYCyKDgAAMBZFBwAAGIuiAwAAjEXRAQAAxqLoAAAAY1F0AACAsSg6AADAWBQdAABgLIoOAAAwFkUHAAAYi6IDAACMRdEBAADGougAAABjUXQAAICxKDoAAMBYFB0AAGAsig4AADAWRQcAABiLogMAAIxF0QEAAMai6AAAAGNRdAAAgLEoOgAAwFgUHQAAYCyKDgAAMFbYi05ZWZkiIiJUVFRkb7MsSyUlJfJ6vYqNjdXkyZN1+PDhoPf5/X4tWbJEycnJio+PV35+vk6dOhU0097ersLCQrndbrndbhUWFurcuXPhXhIAABggwlp09u/frxdffFF33HFH0PZ169Zp/fr1qqio0P79++XxeDRt2jSdP3/enikqKtLOnTtVVVWluro6XbhwQXl5eeru7rZnCgoK1NzcrOrqalVXV6u5uVmFhYXhXBIAABhAwlZ0Lly4oDlz5mjLli0aPny4vd2yLG3cuFGrV6/WrFmzlJGRoZdfflmdnZ3asWOHJMnn82nr1q167rnnNHXqVI0bN06VlZU6ePCgdu/eLUk6evSoqqur9e///u/Kzs5Wdna2tmzZorfeekvHjh0L17IAAMAAEhWuAz/66KOaMWOGpk6dql/+8pf29paWFrW2tionJ8fe5nK5NGnSJNXX12vRokVqampSIBAImvF6vcrIyFB9fb1yc3PV0NAgt9utrKwse2bChAlyu92qr6/X6NGjHdfk9/vl9/vt1x0dHZKkQCCgQCAQ0vX3Hs81xArpccMt1Dn0dexwnmOgIRMnMnEik76Ri9NgyaQ/6wtL0amqqtKBAwe0f/9+x77W1lZJUmpqatD21NRUHT9+3J6JiYkJuhPUO9P7/tbWVqWkpDiOn5KSYs9cqqysTGvWrHFsr6mpUVxc3FWsrP9+Mb4nLMcNl127doX9HLW1tWE/x0BDJk5k4kQmfSMXJ9Mz6ezsvOrZkBedkydP6vHHH1dNTY2GDh162bmIiIig15ZlObZd6tKZvuavdJxVq1apuLjYft3R0aG0tDTl5ORo2LBhVzx3fwUCAdXW1urJ94bI33PldX2bHCrJDduxezOZNm2aoqOjw3aegYRMnMjEiUz6Ri5OgyWT3k9krkbIi05TU5Pa2tqUmZlpb+vu7ta7776riooK+/tnWltbNWLECHumra3Nvsvj8XjU1dWl9vb2oLs6bW1tmjhxoj1z5swZx/nPnj3ruFvUy+VyyeVyObZHR0eH7QvC3xMhf/fAKTrfxF+McOY9UJGJE5k4kUnfyMXJ9Ez6s7aQfzPylClTdPDgQTU3N9t/xo8frzlz5qi5uVm33HKLPB5P0G21rq4u7dmzxy4xmZmZio6ODpo5ffq0Dh06ZM9kZ2fL5/OpsbHRntm3b598Pp89AwAABreQ39FJSEhQRkZG0Lb4+HglJSXZ24uKilRaWqpRo0Zp1KhRKi0tVVxcnAoKCiRJbrdb8+fP17Jly5SUlKTExEQtX75cY8eO1dSpUyVJY8aM0fTp07VgwQJt3rxZkrRw4ULl5eX1+Y3IAABg8AnbU1dXsmLFCl28eFGLFy9We3u7srKyVFNTo4SEBHtmw4YNioqK0uzZs3Xx4kVNmTJF27ZtU2RkpD2zfft2LV261H46Kz8/XxUVFd/4egAAwLfTN1J0fvOb3wS9joiIUElJiUpKSi77nqFDh6q8vFzl5eWXnUlMTFRlZWWIrhIAAJiG33UFAACMRdEBAADGougAAABjUXQAAICxKDoAAMBYFB0AAGAsig4AADAWRQcAABiLogMAAIxF0QEAAMai6AAAAGNRdAAAgLEoOgAAwFgUHQAAYCyKDgAAMBZFBwAAGIuiAwAAjEXRAQAAxqLoAAAAY1F0AACAsSg6AADAWBQdAABgLIoOAAAwFkUHAAAYi6IDAACMRdEBAADGougAAABjUXQAAICxKDoAAMBYFB0AAGAsig4AADAWRQcAABiLogMAAIxF0QEAAMai6AAAAGNRdAAAgLEoOgAAwFgUHQAAYCyKDgAAMBZFBwAAGIuiAwAAjEXRAQAAxqLoAAAAY1F0AACAsSg6AADAWBQdAABgLIoOAAAwFkUHAAAYi6IDAACMFfKiU1ZWprvvvlsJCQlKSUnR97//fR07dixoxrIslZSUyOv1KjY2VpMnT9bhw4eDZvx+v5YsWaLk5GTFx8crPz9fp06dCpppb29XYWGh3G633G63CgsLde7cuVAvCQAADFAhLzp79uzRo48+qr1796q2tlZffvmlcnJy9Pnnn9sz69at0/r161VRUaH9+/fL4/Fo2rRpOn/+vD1TVFSknTt3qqqqSnV1dbpw4YLy8vLU3d1tzxQUFKi5uVnV1dWqrq5Wc3OzCgsLQ70kAAAwQEWF+oDV1dVBr1966SWlpKSoqalJ3/3ud2VZljZu3KjVq1dr1qxZkqSXX35Zqamp2rFjhxYtWiSfz6etW7fqlVde0dSpUyVJlZWVSktL0+7du5Wbm6ujR4+qurpae/fuVVZWliRpy5Ytys7O1rFjxzR69OhQLw0AAAwwIS86l/L5fJKkxMRESVJLS4taW1uVk5Njz7hcLk2aNEn19fVatGiRmpqaFAgEgma8Xq8yMjJUX1+v3NxcNTQ0yO122yVHkiZMmCC32636+vo+i47f75ff77dfd3R0SJICgYACgUBI1917PNcQK6THDbdQ59DXscN5joGGTJzIxIlM+kYuToMlk/6sL6xFx7IsFRcX67777lNGRoYkqbW1VZKUmpoaNJuamqrjx4/bMzExMRo+fLhjpvf9ra2tSklJcZwzJSXFnrlUWVmZ1qxZ49heU1OjuLi4fq7u6vxifE9Yjhsuu3btCvs5amtrw36OgYZMnMjEiUz6Ri5OpmfS2dl51bNhLTqPPfaYfv/736uurs6xLyIiIui1ZVmObZe6dKav+SsdZ9WqVSouLrZfd3R0KC0tTTk5ORo2bNgVz91fgUBAtbW1evK9IfL3XHld3yaHSnLDduzeTKZNm6bo6OiwnWcgIRMnMnEik76Ri9NgyaT3E5mrEbais2TJEr355pt69913deONN9rbPR6PpK/uyIwYMcLe3tbWZt/l8Xg86urqUnt7e9Bdnba2Nk2cONGeOXPmjOO8Z8+eddwt6uVyueRyuRzbo6Ojw/YF4e+JkL974BSdb+IvRjjzHqjIxIlMnMikb+TiZHom/VlbyJ+6sixLjz32mF5//XW9/fbbSk9PD9qfnp4uj8cTdFutq6tLe/bssUtMZmamoqOjg2ZOnz6tQ4cO2TPZ2dny+XxqbGy0Z/bt2yefz2fPAACAwS3kd3QeffRR7dixQ//1X/+lhIQE+/tl3G63YmNjFRERoaKiIpWWlmrUqFEaNWqUSktLFRcXp4KCAnt2/vz5WrZsmZKSkpSYmKjly5dr7Nix9lNYY8aM0fTp07VgwQJt3rxZkrRw4ULl5eXxxBUAAJAUhqKzadMmSdLkyZODtr/00kt6+OGHJUkrVqzQxYsXtXjxYrW3tysrK0s1NTVKSEiw5zds2KCoqCjNnj1bFy9e1JQpU7Rt2zZFRkbaM9u3b9fSpUvtp7Py8/NVUVER6iUBAIABKuRFx7K+/nHqiIgIlZSUqKSk5LIzQ4cOVXl5ucrLyy87k5iYqMrKymu5TAAAMAjwu64AAICxKDoAAMBYFB0AAGAsig4AADAWRQcAABiLogMAAIxF0QEAAMai6AAAAGNRdAAAgLEoOgAAwFgUHQAAYCyKDgAAMBZFBwAAGIuiAwAAjEXRAQAAxqLoAAAAY1F0AACAsSg6AADAWBQdAABgLIoOAAAwFkUHAAAYi6IDAACMRdEBAADGougAAABjUXQAAICxKDoAAMBYFB0AAGAsig4AADAWRQcAABiLogMAAIxF0QEAAMai6AAAAGNRdAAAgLEoOgAAwFgUHQAAYCyKDgAAMBZFBwAAGIuiAwAAjEXRAQAAxqLoAAAAY1F0AACAsSg6AADAWBQdAABgLIoOAAAwFkUHAAAYi6IDAACMRdEBAADGougAAABjDfii8/zzzys9PV1Dhw5VZmamfvvb317vSwIAAN8SA7rovPrqqyoqKtLq1av1/vvv62//9m91//3368SJE9f70gAAwLfAgC4669ev1/z58/VP//RPGjNmjDZu3Ki0tDRt2rTpel8aAAD4Foi63hdwrbq6utTU1KSVK1cGbc/JyVF9fX2f7/H7/fL7/fZrn88nSfrss88UCARCen2BQECdnZ2KCgxRd09ESI8dTp9++mnYjt2byaeffqro6OiwnWcgIRMnMnEik76Ri9NgyeT8+fOSJMuyvnZ2wBadP//5z+ru7lZqamrQ9tTUVLW2tvb5nrKyMq1Zs8axPT09PSzXOBAlP3e9rwAAgKtz/vx5ud3uK84M2KLTKyIi+G6JZVmObb1WrVql4uJi+3VPT48+++wzJSUlXfY916qjo0NpaWk6efKkhg0bFtJjD1Rk4kQmTmTiRCZ9IxenwZKJZVk6f/68vF7v184O2KKTnJysyMhIx92btrY2x12eXi6XSy6XK2jbDTfcEK5LlCQNGzbM6C+2a0EmTmTiRCZOZNI3cnEaDJl83Z2cXgP2m5FjYmKUmZmp2traoO21tbWaOHHidboqAADwbTJg7+hIUnFxsQoLCzV+/HhlZ2frxRdf1IkTJ/TII49c70sDAADfAgO66Pzwhz/Up59+qqeeekqnT59WRkaGdu3apZtuuul6X5pcLpd+/vOfOz4qG8zIxIlMnMjEiUz6Ri5OZOIUYV3Ns1kAAAAD0ID9Hh0AAICvQ9EBAADGougAAABjUXQAAICxKDph8Pzzzys9PV1Dhw5VZmamfvvb317vSwqbsrIy3X333UpISFBKSoq+//3v69ixY0EzlmWppKREXq9XsbGxmjx5sg4fPhw04/f7tWTJEiUnJys+Pl75+fk6derUN7mUsCgrK1NERISKiorsbYM1j48//lgPPfSQkpKSFBcXp7vuuktNTU32/sGWy5dffqmf/exnSk9PV2xsrG655RY99dRT6unpsWdMz+Tdd9/VzJkz5fV6FRERoTfeeCNof6jW397ersLCQrndbrndbhUWFurcuXNhXt21u1IugUBATzzxhMaOHav4+Hh5vV7NnTtXn3zySdAxTMzlmlkIqaqqKis6OtrasmWLdeTIEevxxx+34uPjrePHj1/vSwuL3Nxc66WXXrIOHTpkNTc3WzNmzLBGjhxpXbhwwZ55+umnrYSEBOu1116zDh48aP3whz+0RowYYXV0dNgzjzzyiPWd73zHqq2ttQ4cOGB973vfs+68807ryy+/vB7LConGxkbr5ptvtu644w7r8ccft7cPxjw+++wz66abbrIefvhha9++fVZLS4u1e/du66OPPrJnBlsuv/zlL62kpCTrrbfeslpaWqz//M//tP7qr/7K2rhxoz1jeia7du2yVq9ebb322muWJGvnzp1B+0O1/unTp1sZGRlWfX29VV9fb2VkZFh5eXnf1DL77Uq5nDt3zpo6dar16quvWn/4wx+shoYGKysry8rMzAw6hom5XCuKTojdc8891iOPPBK07dZbb7VWrlx5na7om9XW1mZJsvbs2WNZlmX19PRYHo/Hevrpp+2ZL774wnK73dYLL7xgWdZXf3Gjo6Otqqoqe+bjjz+2hgwZYlVXV3+zCwiR8+fPW6NGjbJqa2utSZMm2UVnsObxxBNPWPfdd99l9w/GXGbMmGH96Ec/Cto2a9Ys66GHHrIsa/Blcul/0EO1/iNHjliSrL1799ozDQ0NliTrD3/4Q5hX9X/XVwG8VGNjoyXJ/j/UgyGX/uCjqxDq6upSU1OTcnJygrbn5OSovr7+Ol3VN8vn80mSEhMTJUktLS1qbW0NysTlcmnSpEl2Jk1NTQoEAkEzXq9XGRkZAza3Rx99VDNmzNDUqVODtg/WPN58802NHz9eP/jBD5SSkqJx48Zpy5Yt9v7BmMt9992n//3f/9UHH3wgSfrd736nuro6/f3f/72kwZnJXwrV+hsaGuR2u5WVlWXPTJgwQW63e8Bn1Mvn8ykiIsL+3Y3kEmxA/2Tkb5s///nP6u7udvxS0dTUVMcvHzWRZVkqLi7Wfffdp4yMDEmy191XJsePH7dnYmJiNHz4cMfMQMytqqpKBw4c0P79+x37BmMekvTHP/5RmzZtUnFxsX7605+qsbFRS5culcvl0ty5cwdlLk888YR8Pp9uvfVWRUZGqru7W2vXrtWDDz4oafB+rfQK1fpbW1uVkpLiOH5KSsqAz0iSvvjiC61cuVIFBQX2L/Ekl2AUnTCIiIgIem1ZlmObiR577DH9/ve/V11dnWPftWQyEHM7efKkHn/8cdXU1Gjo0KGXnRssefTq6enR+PHjVVpaKkkaN26cDh8+rE2bNmnu3Ln23GDK5dVXX1VlZaV27Nih22+/Xc3NzSoqKpLX69W8efPsucGUSV9Csf6+5k3IKBAI6IEHHlBPT4+ef/75r50fLLlcio+uQig5OVmRkZGONtzW1ub4fyWmWbJkid5880298847uvHGG+3tHo9Hkq6YicfjUVdXl9rb2y87M1A0NTWpra1NmZmZioqKUlRUlPbs2aN//dd/VVRUlL2ewZJHrxEjRui2224L2jZmzBidOHFC0uD7OpGkn/zkJ1q5cqUeeOABjR07VoWFhfrxj3+ssrIySYMzk78UqvV7PB6dOXPGcfyzZ88O6IwCgYBmz56tlpYW1dbW2ndzpMGdS18oOiEUExOjzMxM1dbWBm2vra3VxIkTr9NVhZdlWXrsscf0+uuv6+2331Z6enrQ/vT0dHk8nqBMurq6tGfPHjuTzMxMRUdHB82cPn1ahw4dGnC5TZkyRQcPHlRzc7P9Z/z48ZozZ46am5t1yy23DKo8et17772OHzvwwQcf2L+Ad7B9nUhSZ2enhgwJ/ic4MjLSfrx8MGbyl0K1/uzsbPl8PjU2Ntoz+/btk8/nG7AZ9ZacDz/8ULt371ZSUlLQ/sGay2V989//bLbex8u3bt1qHTlyxCoqKrLi4+OtP/3pT9f70sLin//5ny2322395je/sU6fPm3/6ezstGeefvppy+12W6+//rp18OBB68EHH+zzEdEbb7zR2r17t3XgwAHr7/7u7wbMI7Jf5y+furKswZlHY2OjFRUVZa1du9b68MMPre3bt1txcXFWZWWlPTPYcpk3b571ne98x368/PXXX7eSk5OtFStW2DOmZ3L+/Hnr/ffft95//31LkrV+/Xrr/ffft58eCtX6p0+fbt1xxx1WQ0OD1dDQYI0dO/Zb/Rj1lXIJBAJWfn6+deONN1rNzc1B/+76/X77GCbmcq0oOmHwb//2b9ZNN91kxcTEWH/zN39jP2ptIkl9/nnppZfsmZ6eHuvnP/+55fF4LJfLZX33u9+1Dh48GHScixcvWo899piVmJhoxcbGWnl5edaJEye+4dWEx6VFZ7Dm8d///d9WRkaG5XK5rFtvvdV68cUXg/YPtlw6Ojqsxx9/3Bo5cqQ1dOhQ65ZbbrFWr14d9B8r0zN55513+vz3Y968eZZlhW79n376qTVnzhwrISHBSkhIsObMmWO1t7d/Q6vsvyvl0tLSctl/d9955x37GCbmcq0iLMuyvrn7RwAAAN8cvkcHAAAYi6IDAACMRdEBAADGougAAABjUXQAAICxKDoAAMBYFB0AAGAsig4AADAWRQcAABiLogMAAIxF0QEAAMai6AAAAGP9f+ibugnuVwBjAAAAAElFTkSuQmCC",
      "text/plain": [
       "<Figure size 640x480 with 1 Axes>"
      ]
     },
     "metadata": {},
     "output_type": "display_data"
    }
   ],
   "source": [
    "df_a.revenue.hist()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 39,
   "id": "2a1af3ac",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "TtestResult(statistic=1.2823055778987988, pvalue=0.19975786235963544, df=13275.705430280395)"
      ]
     },
     "execution_count": 39,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "st.ttest_ind(df_a['revenue'], df_b['revenue'], equal_var=False)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 40,
   "id": "17e805ad",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "MannwhitneyuResult(statistic=67287553.0, pvalue=0.306808963067974)"
      ]
     },
     "execution_count": 40,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "st.mannwhitneyu(df_a['revenue'], df_b['revenue'])"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "aafc2f9d",
   "metadata": {},
   "outputs": [],
   "source": []
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "Python 3 (ipykernel)",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 3
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython3",
   "version": "3.11.5"
  },
  "toc": {
   "base_numbering": 1,
   "nav_menu": {},
   "number_sections": true,
   "sideBar": true,
   "skip_h1_title": true,
   "title_cell": "Table of Contents",
   "title_sidebar": "Contents",
   "toc_cell": true,
   "toc_position": {},
   "toc_section_display": true,
   "toc_window_display": false
  }
 },
 "nbformat": 4,
 "nbformat_minor": 5
}